---
title: Writing
layout: default
tmpl: list
---

<div class="maxwidth-list">
	<article>
		<h1 class="primary-title">{{ title }}</h1>
		<p>{{ collections.writing | size }} posts since 2007. Show <a href="/web/">all archives</a>.</p>
		<ol id="main-posts-list" class="posts">
			{% comment %}
				liquidjs doesn’t do hoisting the same, so we have to hoist these loop variables ourselves.
			{% endcomment %}
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% assign currentyearpostcount = 0 %}
			{% assign listItems = collections.writing %}
			{% for post in collections.writing %}
				{% include post-list-entry.html %}
			{% endfor %}
		</ol>
		<form class="post-filter" id="post-filter-form">
			<label for="post-filter"><input type="checkbox" id="post-filter"> Show deprecated posts too</label>
		</form>
	</article>
</div><!-- /.maxwidth-list -->
