---
permalink: /web/feed/atom.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.name }}</title>
	<subtitle>{{ site.description }}</subtitle>
	<link href="https://www.zachleat.com/web/feed/" rel="self"/>
	<link href="https://www.zachleat.com/web/"/>
	<updated>{{ collections.feedPosts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>http://www.zachleat.com/</id>
	<author>
		<name>Zach Leatherman</name>
		<email>zachleat@zachleat.com</email>
	</author>
	{%- for post in collections.feedPosts | head(30) %}
	{% set idUrl %}{{ post.url | absoluteUrl('http://www.zachleat.com/') }}{% endset %}
	{% set absolutePostUrl %}{{ post.url | absoluteUrl('https://www.zachleat.com/') }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ idUrl }}</id>
		<content type="html">
			{%- if post.data.external_url and not post.templateContent %}
				&lt;p&gt;&lt;em&gt;This content lives somewhere else. It was originally posted at: &lt;a href=&quot;{{ post.data.external_url }}&quot;&gt;{{ post.data.external_url }}&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;
			{%- endif %}
			{{ post.templateContent | processAsWebC | htmlToAbsoluteUrls(absolutePostUrl) }}
		</content>
	</entry>
	{%- endfor %}
</feed>