.env
/index.html
.DS_Store
node_modules
bower_components
.sass-cache
_site
_cache
dist
web/_config.yml
web/_drafts
logs
artifacts
zachleat-bestof.json
package-lock.json
web/_includes/*.css
web/_includes/*.js
web/_data/package.json