---
title: Not Found
layout: default
tmpl: page
permalink: 404.html
excludeFromSearch: true
---

<article>
	<h1 class="primary-title">{{ title }}</h1>
	<p>We couldn’t find what you were looking for—sorry!</p>
	<p>I wonder if I can convert you to read one of these blog posts instead without it coming off as scammy and awkward.</p>

	<hr style="margin-top: 10vw">
</article>

<article>
	<h2>Writing</h2>
	<ol class="posts">
		{% for post in collections.latestPosts limit:4 %}
			{% include "post-list-entry.html", ignoreYear: "true" %}
		{% endfor %}
		<li><em><a href="/web/" class="posts-link posts-link-more">…see archives.</a></em></li>
	</ol>

	<h2>Popular 🔥</h2>
	<ol class="posts">
		{% for post in collections.popularPostsRanked limit:3 %}
			{% include "post-list-entry.html", ignoreYear: "true" %}
		{% endfor %}
		<li><em><a href="/web/best-of" class="posts-link posts-link-more">…see all popular posts.</a></em></li>
	</ol>
</article>

<article>
	{% include "about.html" %}
</article>
