---
title: "Zach Leatherman"
titleScreenReaderOnly: true
layout: layouts/pagealign.liquid
enableWebmentions: true
eleventyImport:
  collections: ["blog-post"]
---
<div id="about-index" class="about-description">
	<p>{% include "bio-text-medium.html" %} <a href="/about/">Read more<span class="a11y-only"> about Zach</span> &raquo;</a></p>
</div>

<article>
	<h2>Newest</h2>
	<ol class="posts posts-withimg posts-home h-feed">
		{% for post in collections.homepageNewestPosts limit:6 %}
			{% include "post-list-entry.html", ignoreYear: "true", hfeed: true, previewImages: true %}
		{% endfor %}
		<li><em><a href="/web/" class="posts-link posts-link-more">…see full archives.</a></em></li>
	</ol>

	<h2>Popular{% icon "fas:fire-flame-curved" %}</h2>
	<ol class="posts h-feed">
		{% for post in collections.popularPostsRanked limit:6 %}
			{% include "post-list-entry.html", ignoreYear: "true", hfeed: true %}
		{% endfor %}
		<li><em><a href="/web/best-of" class="posts-link posts-link-more">…see all popular posts.</a></em></li>
	</ol>
</article>