---
layout: layouts/default.liquid
tmpl: home
hidePopularInSidebar: true
---

<div class="maxwidth-list">
	<div id="about-index" class="about-description">
		<p><em>{% include bio-text-medium.html %} <a href="/web/about/">Read more<span class="a11y-only"> about Zach</span> &raquo;</a></em></p>
	</div>
	<article>
		<h2>Writing</h2>
		<ol class="posts">
			{% for post in collections.latestPosts limit:4 %}
				{% include post-list-entry.html, ignoreYear: "true" %}
			{% endfor %}
			<li><em><a href="/web/" class="posts-link posts-link-more">…see archives.</a></em></li>
		</ol>

		<h2>Activity</h2>
		<ol class="posts">
			{% for post in collections.posts limit:8 %}
				{% include post-list-entry.html, ignoreYear: "true" %}
			{% endfor %}
			<li><em><a href="/web/" class="posts-link posts-link-more">…see archives.</a></em></li>
		</ol>

		<h2>Last three <a href="/web/notes/">notes</a></h2>
		<ol class="posts">
			{% for post in collections.note reversed limit: 3 %}
				{% include post-list-entry.html, ignoreYear: "true" %}
			{% endfor %}
			<li class="posts-note"><em><a href="/web/notes/" class="posts-link posts-link-more">…see all notes.</a></em></li>
		</ol>

		<h2>Popular 🔥</h2>
		<ol class="posts">
			{% for post in collections.popularPostsRanked limit:5 %}
				{% include post-list-entry.html, ignoreYear: "true" %}
			{% endfor %}
			<li><em><a href="/web/best-of" class="posts-link posts-link-more">…see all popular posts.</a></em></li>
		</ol>

	</article>
</div><!-- /.maxwidth -->