---
title: Is this still being maintained??
layout: layouts/pagealign.liquid
minimumPublishCountForSparkline: 6
minimumDownloads: 2500
minimumStars: 200
readableDateFormat: dd LLL yyyy
npmAlsoShowRepoName:
  - eleventy
---
<style>
.spark--primary {
	max-width: 20em;

	.spark-img {
		display: block;
		min-width: 10em;
	}
}
#projects {
	.spark-img {
		display: block;
		background-color: #f6f6f6;
		border-radius: .25em;
		padding: 0.375em 0;
	}
	.age {
		background-color: #f7f7f7;
		padding: .25em .3125em;
		border-radius: .25em;
	}

	width: 100%;

	tfoot { background-color: #f2f2f2; }
	tr {
		--neglect-hue: calc(145 - (clamp(0, var(--neglect-score), 50) * 2.9));
	}
	th {
		white-space: nowrap;
	}

	.neglect-col {
		background: hsl(var(--neglect-hue) 70% 90%);
	}

	.metadata {
		display: flex;
		justify-content: flex-end;
		margin-inline-start: 2.125em;
		gap: .25em;
	}
	.downloads,
	.stars {
		/* m => M */
		text-transform: uppercase;
	}
	.is-workspace {
		opacity: .4;
	}

	/* table-saw’s breakpoint styles set `display: block` on rows, so we need
	   more specificity than filter-container’s generated `.filter-scope--hide` */
	:is(tbody, tfoot) tr.filter-scope--hide {
		display: none;
	}

	&:has(.filter-scope--hide) tfoot {
		display: none;
	}
}
#projects, #archived {
	.name-col {
		min-width: 16em;
		max-width: 25vw;
	}
	.name {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
#archived td {
 white-space: nowrap;
}
.z-icon:has([href="#far-fa-circle-check"]) {
	margin-inline: .25em 0;
	color: green;
	font-size: 0.875em;
}
.health {
	display: flex;
	gap: .5em;
	align-items: center;
	font-weight: 700;
	font-size: 1.125em; /* 18px /16 */
}
</style>

<p>This is a list of all of my open source projects sorted by a Neglect score (taking into account popularity via stars and downloads, issues and PRs open, and recent stable publish descending). Eligible projects are published to {% icon "fab:npm" %}npm, marked as a template repository on {% icon "fab:github" %}GitHub, or manually opted-in.</p>

<ul>
	<li>{% icon "fa:diagram-project" %} {{ packages | size | renderNumber }} total open source projects
		<ul>
			<li>{{ totals.packages }} {% icon "fab:npm" %}package{% if totals.packages != 1 %}s{% endif %} and {{ totals.publishes | renderNumber }} published {% icon "fab:npm" %}version{% if totals.publishes != 1 %}s{% endif %}</li>
			<li>{{ totals.customElements }} Web Components 🚾</li>
		</ul>
	</li>
	<li>{% icon "fas:download" %}{{ totals.downloads | renderNumber }} {% icon "fab:npm" %}downloads <em>(last year)</em></li>
	<li>{% icon "fas:star" %}{{ totals.stars | renderNumber }} {% icon "fab:github" %}stars</li>
	<li>{% icon "far:circle-check" %} Closed {% icon "fas:bug" %}{{ totals.issues.closed | renderNumber }} {% icon "fab:github" %}issues</li>
	<li>{% icon "far:circle-check" %} Merged {% icon "fas:code-merge" %}{{ totals.prs.merged | renderNumber }} {% icon "fab:github" %}pull requests (PRs)</li>
</ul>

<script type="module" src="/static/health-score.js"></script>

<div class="fl fl-nowrap" style="gap: 1em 3em">
	<div class="health">Open Source Health <health-score score="{{ healthRating | divided_by: 100 }}">{{ healthRating | round: 1 }}</health-score></div>
	<div class="spark spark--primary">
		<span>{{ sparklineAggregate.start | split: "-" | pop }}</span>
		<div><img src="{% sparklineDataUri sparklineAggregate.counts, 600, 60, 'green', 2 %}" width="600" height="60" alt="Sparkline representing frequency of publishes across all packages" loading="lazy" decoding="async" class="spark-img" eleventy:ignore></div>
		<span>{{ currentYear }}</span>
	</div>
</div>

<p><em>{% if generatedAt %}Last updated <time-difference live><time datetime="{{ generatedAt }}" title="{{ generatedAt }}">{{ generatedAt | readableDateFromISO: readableDateFormat }}</time></time-difference>. {% endif %}Download counts shown are for the last year. Dependency counts shown are comprehensive counts of all dependencies used by the latest stable release of the package.</em></p>

<filter-container oninit>
<form class="filter-posts-form">
	<span data-filter-results="project/projects" aria-live="polite">{{ packages | size }} projects</span>&#160;
	<label>
		<span class="sr-only">Filter</span>
		<select data-filter-key="scope">
			<option value="">Show all projects</option>
			<option value="11ty">Only Build Awesome (11ty) packages</option>
			<option value="wc">Only 🚾 Web Components</option>
		</select>
	</label>
</form>
<div class="table-scroll">
<table id="projects">
  <thead>
    <tr>
      <th class="numeric">Neglect</th>
      <th class="name-col">{% icon "fas:box-open" %}Name</th>
      <th>Versions</th>
      <th class="numeric">{% icon "fas:lock-open" %}Audit</th>
      <th class="numeric">{% icon "fas:bug" %}Issues</th>
      <th class="numeric">{% icon "fas:code-merge" %}PRs</th>
    </tr>
  </thead>
	<tfoot>
		<tr>
			<th class="numeric"></th>
			<th class="name-col">
				<strong>{{ packages | size | renderNumber }} Projects Total</strong><br>
				<small>
					{% icon "fas:star" %}<span class="stars">{{ totals.stars | renderNumber }}</span>
					{% icon "fas:download" %}<span class="downloads">{{ totals.downloads | renderNumber }}</span> (last year)
				</small>
			</th>
			<th>
				<small>{{ totals.publishes | renderNumber }} version{% if totals.publishes != 1 %}s{% endif %}</small>
			</th>
			<th class="numeric">
				<div>
					{% icon "fas:lock-open" %}{{ totals.audits | renderNumber }}<br>
				</div>
			</th>
			<th class="numeric">
				<div>
					{% icon "fas:bug" %}{{ totals.issues.open | renderNumber }}<br>
					<small>{{ totals.issues.closed | renderNumber }}{% icon "far:circle-check" %}</small>
				</div>
			</th>
			<th class="numeric">
				<div>
					{% icon "fas:code-merge" %}{{ totals.prs.open | renderNumber }}<br>
					<small>{{ totals.prs.closed | renderNumber }}{% icon "far:circle-check" %}</small>
				</div>
			</th>
		</tr>
	</tfoot>
  <tbody>
{% for result in packages %}
		{%- if not result.isArchived %}
		{%- assign baNpmScope = result.packageName | default: "" | startsWith: "@11ty/", "@awesome.me" %}
		{%- capture filterScopes -%}{% if baNpmScope %}11ty,{% endif %}{% if result.isWebComponent %}wc,{% endif %}{%- endcapture %}
		<tr data-filter-scope="{{ filterScopes }}" style="--neglect-score: {{ result.score }}">
			<td class="neglect-col numeric">
				<strong>{{ result.score | divided_by: 100 | round: 3 }}</strong>
			</td>
			<td class="name-col">
				<div class="name">
					{%- assign npmGitHubMismatch = npmAlsoShowRepoName | includes: result.packageName %}
					{%- if result.lastPublish %}
						{%- icon "fas:box-open" %}<code>{{ result.packageName }}</code>
						{%- if npmGitHubMismatch %}
							from {% icon "fab:github" %}<code>{{ result.nameWithOwner }}</code>
						{%- endif %}
					{%- else %}
						{%- icon "far:window-maximize" %}<code>{{ result.nameWithOwner }}</code>
					{%- endif %}
					{%- if result.isWebComponent %}🚾<span class="sr-only">Web Component</span>{% endif %}
				</div>
				<small class="metadata">
					{% if result.url %}<a href="{{ result.url }}">{% icon "fab:github" %}GitHub</a>{% endif %}
					{% if result.isTemplate %}<em>(Template)</em>{% endif %}
					<!-- {% if result.workspacePath %}<em>(Workspace)</em>{% endif %} -->
					{% if result.lastPublish and result.packageName %}<a href="https://www.npmjs.com/package/{{ result.packageName }}">{% icon "fab:npm" %}npm</a>{% endif %}
					{% if result.homepageUrl and not result.workspacePath %}<a href="{{ result.homepageUrl }}">{% icon "fa:link" %}Link</a>{% endif %}
					<span style="flex-grow: 999"></span>
					{% if result.stars > minimumStars %}<span class="stars{% if result.workspacePath %} is-workspace{% endif %}">{% icon "fas:star" %}{{ result.stars | renderNumber: "0a" }}</span>{% endif %}
					{% if result.downloads > minimumDownloads %}<span class="downloads">{% icon "fas:download" %}{{ result.downloads | renderNumber: "0a" }}</span>{% endif %}
				</small>
			</td>
			<td>
				{% if result.lastStablePublishVersion %}
				<div class="m-2">
					<div class="nowrap">{{ result.lastStablePublishVersion }}</div>
					{% if result.lastStablePublishVersion %}
					<small>
						<time-difference live><em><time datetime="{{ result.lastStablePublish }}" title="{{ result.lastStablePublish }}">{{ result.lastStablePublish | readableDateFromISO: readableDateFormat }}</time></em></time-difference>
					</small>
					{% endif %}
				</div>
				{% endif %}
				{% if result.prerelease %}
					<div class="m-2">
						<div class="nowrap"><em>{{ result.lastPublishVersion }}</em></div>
						{% if result.lastPublishVersion %}
						<small>
							<time-difference live><em><time datetime="{{ result.lastPublish }}" title="{{ result.lastPublish }}">{{ result.lastPublish | readableDateFromISO: readableDateFormat }}</time></em></time-difference>
						</small>
						{% endif %}
					</div>
				{% endif %}
				{%- if result.firstPublish -%}
					<div class="age">
					{% if result.publishCount > minimumPublishCountForSparkline %}<img src="{% sparklineDataUri sparklinesByPackage[ result.packageName ].monthlyReleases.counts, 120, 20, '#aaa', 2 %}" width="120" height="20" alt="Frequency sparkline for publishes of {{ result.packageName }}" loading="lazy" decoding="async" class="spark-img" eleventy:ignore>{% endif %}
					{% if result.publishCount > 0 %}<small class="nowrap">{{ result.publishCount | renderNumber: "0a" }} version{% if result.publishCount != 1 %}s{% endif %} in <time-difference live mode="strip-suffix"><time datetime="{{ result.firstPublish }}" title="{{ result.firstPublish }}">{{ result.firstPublish | readableDateFromISO: readableDateFormat }}</time></time-difference></small>{% endif %}
					</div>
				{%- else -%}
					<time-difference live mode="strip-suffix" prefix="for "><time datetime="{{ result.repoCreatedAt }}" title="{{ result.repoCreatedAt }}">{{ result.repoCreatedAt | readableDateFromISO: readableDateFormat }}</time></time-difference>
				{%- endif -%}
			</td>
			<td class="numeric">
				{% if result.openVulnerabilities != null %}
					{% if result.openVulnerabilities > 0 %}{% icon "fas:lock-open" %}{% endif -%}
					{{ result.openVulnerabilities }}<br>
					<small>{{ result.transitiveDependencies }} dep{% if result.transitiveDependencies != 1 %}s{% endif %}</small>
				{% else %}
				-
				{% endif %}
			</td>
			<td class="numeric{% if result.workspacePath %} is-workspace{% endif %}">
				<small>{% icon "fas:bug" %}</small>{{ result.openIssues }}
				{% if result.closedIssues > 0 %}<br><small>{{ result.closedIssues | renderNumber: "0a" }}{% icon "far:circle-check" %}</small>{% endif %}
			</td>
			<td class="numeric{% if result.workspacePath %} is-workspace{% endif %}">
				<small>{% icon "fas:code-merge" %}</small>{{ result.openPRs }}
			{% if result.mergedPRs > 0 %}<br><small>{{ result.mergedPRs | renderNumber: "0a" }}{% icon "far:circle-check" %}</small>{% endif %}
			</td>
		</tr>
		{%- endif %}
{% endfor %}
  </tbody>
</table>
</div>
</filter-container>

<h2>Archived Projects</h2>

<div class="table-scroll">
<table id="archived">
	<thead>
		<tr>
			<th>Name</th>
			<th>GitHub</th>
			<th>npm</th>
			<th>Link</th>
		</tr>
	</thead>
	<tbody>
{%- for result in packages %}
	{%- if result.isArchived %}
		<tr>
			<td class="name-col">
				<div class="name">
				{%- if result.lastPublish %}
				{% icon "fa:skull-crossbones" %}<code>{{ result.packageName }}</code>
				{%- if npmGitHubMismatch %}
				from {% icon "fab:github" %}<code>{{ result.nameWithOwner }}</code>
				{%- endif %}
				{%- else %}
				{% icon "fa:skull-crossbones" %}<code>{{ result.nameWithOwner }}</code>
				{%- endif %}
				</div>
			</td>
			<td>
				{% if result.url %}<a href="{{ result.url }}">{% icon "fab:github" %}GitHub</a>{% endif %}
			</td>
			<td>
				{%- if result.lastPublish and result.packageName %}<a href="https://www.npmjs.com/package/{{ result.packageName }}">{%- if result.npmDeprecated %}{% icon "fa:skull-crossbones" %}{% endif %}{% icon "fab:npm" %}npm</a>{% endif %}
			</td>
			<td>
				{% if result.homepageUrl and not result.workspacePath %}<a href="{{ result.homepageUrl }}">{% icon "fa:link" %}Link</a>{% endif %}
			</td>
		</tr>
	{%- endif %}
{%- endfor %}
	</tbody>
</table>
</div>