---js
// <script>
export const title = "Is this still being maintained?";
export const layout = "layouts/pagealign.liquid";
// </script>
---
<style>
#projects {
	tr {
		--neglect-hue: calc(145 - (clamp(0, var(--neglect-score), 50) * 2.9));
	}
	th {
		white-space: nowrap;
	}
	td.neglect {
		background: hsl(var(--neglect-hue) 70% 90%);
	}
	.name {
		text-wrap: balance;
	}
	.metadata {
		display: flex;
		justify-content: flex-end;
		margin-block-start: .125em;
		gap: .25em;

		@media (min-width: 56.25em) { /* 900px */
			margin-inline-start: 2.125em;
		}
	}
	.is-workspace {
		opacity: .5;
	}
}
</style>
<p>This is a list of all of my open source projects sorted by a Neglect score (taking into account popularity via stars and downloads, issues and PRs open, and recent stable publish descending). Eligible projects must be published to {% icon "fab:npm" %}npm or marked as a template repository on {% icon "fab:github" %}GitHub.</p>
<p><em>{% if generatedAt %}Last updated <time-difference live><time datetime="{{ generatedAt }}" title="{{ generatedAt }}">{{ generatedAt | readableDateFromISO }}</time></time-difference>. {% endif %}Download counts shown are for the last month.</em></p>

<script type="module" src="/static/table-saw.js"></script>
<table-saw text-align ratio="1/4">
<table id="projects">
  <thead>
    <tr>
      <th>Neglect</th>
      <th>{% icon "fas:box-open" %}Name</th>
      <th>Age</th>
      <th>Version</th>
      <th class="numeric">{% icon "fas:bug" %}Issues</th>
      <th class="numeric">{% icon "fas:code-merge" %}PRs</th>
    </tr>
  </thead>
	<tfoot>
		<tr>
			<th></th>
			<th>
				<strong>{{ packages | size | renderNumber }} projects total</strong><br>
				<small>
					{% icon "fas:star" %}{{ totals.stars | renderNumber }}
					{% icon "fas:download" %}{{ totals.downloads | renderNumber }} (last month)
				</small>
			</th>
			<th>{{ totals.publishes | renderNumber }} Version{% if totals.publishes != 1 %}s{% endif %}</th>
			<th></th>
			<th class="numeric">
				<div>
					{% icon "fas:bug" %}{{ totals.issues.open | renderNumber }} Issues<br>
					<small>{{ totals.issues.closed | renderNumber }} closed</small>
				</div>
			</th>
			<th class="numeric">
				<div>
					{% icon "fas:code-merge" %}{{ totals.prs.open | renderNumber }} PRs<br>
					<small>{{ totals.prs.closed | renderNumber }} closed</small>
				</div>
			</th>
		</tr>
	</tfoot>
  <tbody>
{% for result in packages %}
		<tr style="--neglect-score: {{ result.score }}">
			<td class="neglect numeric">
				<strong>{{ result.score | divided_by: 100 | round: 3 }}</strong>
			</td>
			<td>
				<div class="name">
					{%- assign npmGitHubMismatch = npmAlsoShowRepoName | includes: result.packageName %}
					{%- if result.lastPublish %}
						{%- icon "fas:box-open" %}<code>{{ result.packageName }}</code>
						{%- if npmGitHubMismatch %}
							from {% icon "fab:github" %}<code>{{ result.nameWithOwner }}</code>
						{%- endif %}
					{%- else %}
						{%- icon "far:window-maximize" %}<code>{{ result.nameWithOwner }}</code>
					{%- endif %}
					{%- if result.isWebComponent %}🚾<span class="sr-only">Web Component</span>{% endif %}
				</div>
				<small class="metadata">
					{% if result.url %}<a href="{{ result.url }}">{% icon "fab:github" %}GitHub</a>{% endif %}
					{% if result.isTemplate %}<em>(Template)</em>{% endif %}
					{% if result.workspacePath %}<em>(Workspace)</em>{% endif %}
					{% if result.lastPublish and result.packageName %}<a href="https://www.npmjs.com/package/{{ result.packageName }}">{% icon "fab:npm" %}npm</a>{% endif %}
					<span style="flex-grow: 999"></span>
					{% if result.stars > minimumStars %}<span class="{% if result.workspacePath %} is-workspace{% endif %}">{% icon "fas:star" %}{{ result.stars | renderNumber: "0a" }}</span>{% endif %}
					{% if result.downloads > minimumDownloads %}<span>{% icon "fas:download" %}{{ result.downloads | renderNumber: "0a" }}</span>{% endif %}
				</small>
			</td>
			<td>
				{% if result.firstPublish %}
				<time-difference live mode="strip-suffix" suffix=" old"><em><time datetime="{{ result.firstPublish }}" title="{{ result.firstPublish }}">{{ result.firstPublish | readableDateFromISO }}</time></em></time-difference><br>
				{% endif %}
				<small>{% if result.publishCount > 0 %}{{ result.publishCount | renderNumber: "0a" }} version{% if result.publishCount != 1 %}s{% endif %}{% endif %}</small>
			</td>
			<td>
				{% if result.lastStablePublishVersion %}
				<div class="m-2">
					<div class="nowrap">{{ result.lastStablePublishVersion }}</div>
					{% if result.lastStablePublishVersion %}
					<small>
						<time-difference live><em><time datetime="{{ result.lastStablePublish }}" title="{{ result.lastStablePublish }}">{{ result.lastStablePublish | readableDateFromISO }}</time></em></time-difference>
					</small>
					{% endif %}
				</div>
				{% endif %}
				{% if result.prerelease %}
					<div class="m-2">
						<div class="nowrap"><em>{{ result.lastPublishVersion }}</em></div>
						{% if result.lastPublishVersion %}
						<small>
							<time-difference live><em><time datetime="{{ result.lastPublish }}" title="{{ result.lastPublish }}">{{ result.lastPublish | readableDateFromISO }}</time></em></time-difference>
						</small>
						{% endif %}
					</div>
				{% endif %}
			</td>
			<td class="numeric{% if result.workspacePath %} is-workspace{% endif %}">
				<small>{% icon "fas:bug" %}</small>{{ result.openIssues }}
				{% if result.closedIssues > 0 %}<br><small>{{ result.closedIssues | renderNumber: "0a" }} closed</small>{% endif %}
			</td>
			<td class="numeric{% if result.workspacePath %} is-workspace{% endif %}">
				<small>{% icon "fas:code-merge" %}</small>{{ result.openPRs }}
			{% assign prsClosed = result.mergedPRs | plus: result.closedPRs %}
			{% if prsClosed > 0 %}<br><small>{{ prsClosed | renderNumber: "0a" }} closed</small>{% endif %}
			</td>
		</tr>
{% endfor %}
  </tbody>
</table>
</table-saw>