---
title: Search
layout: layouts/pagealign.liquid
---
<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
{% if JS_ENABLED %}<script type="module" src="/static/pagefind-search.js"></script>{% endif %}

<pagefind-search _page_size="10" _show_sub_results="true" pagefind-autofocus><!--  -->
	<form action="https://duckduckgo.com/" method="get" style="min-height: 3.36842105em">
		<label for="search-term" class="sr-only">Search Terms</label>
		<input type="search" name="q" id="search-term" autocomplete="off" autofocus>
		<input type="hidden" name="sites" value="www.zachleat.com">
		<button type="submit">Search</button>
	</form>
</pagefind-search>

<is-land>
	<p>Search provided by <a href="https://duckduckgo.com/">DuckDuckGo</a>.</p>
	<template data-island="replace">
		<p>Search provided by <a href="https://pagefind.app/">Pagefind</a> via the <a href="/web/pagefind-search/"><code>&lt;pagefind-search&gt;</code> Web Component</a>.</p>
	</template>
</is-land>

<article>
	{% include "about.html" %}
</article>
