@import "compass/css3";

@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media only all {

	* {
		@include box-sizing(border-box);
	}

	html,
	body {
		height: 100%;
	}
	body {
		font-size: 1em;
		margin: 0 auto;
		padding: 1em;
	}
	.browser-logo {
		max-width: 3em;
		vertical-align: middle;
	}
	iframe.caniuse {
		margin: 1em 0;
		width: 100%;
		height: 330px;
		border: none;
	}

	.slide {
		font: 1.625em/1.3 Helvetica Neue, Verdana, sans-serif; /* 26px */
		color: #222;
		padding: 0;
		height: 100%;
	}
	.slide h1 {
		margin-top: 0;
		font-family: Bitter, Georgia, serif;
	}
	.slide h2,
	.slide h3,
	.slide h4,
	.slide h5 {
		margin: .25em 0;
	}
	.slide ul {
		list-style: circle;
	}
	.slide li {
		line-height: 1.8;
	}
	.slide pre {
		line-height: 1.2;
		-webkit-tab-size: 2;
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		margin: .5em 0;
		white-space: -moz-pre-wrap;
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* IE 5.5+ */
		white-space: pre-wrap;
	}
	.slide code {
		font-size: 1.153846154em; /* 30px */
		font-family: Consolas, monospace;
	}
	.slide pre code {
		font-size: .9em; /* 13px */
	}
	.slide .next {
		font-family: Bitter, Georgia, serif;
		display: block;
		text-decoration: none;
		padding: .2em .4em;
		text-align: right;
		margin-bottom: 1em;
	}
	.slide .next:hover,
	.slide .next:focus {
		border-radius: .6em 0 .6em 0;
	}
	.slide .next::after {
		font-family: monospace;
		content: '>';
		position: relative;
		top: -.1em;
		padding-left: .3em;
	}
	.slide .links {
		margin-top: 2em;
		padding-bottom: 1em;
		font-size: .461538462em; /* 12px */
	}
	.slide .links h3,
	.slide .links ol {
		margin: 0;
		padding: 0;
	}
	.slide .links :target {
		background-color: #ff6;
	}

	/* Theme */
	.slide.color {
	}
	.slide.color :link {
		color: #A0423F;
	}
	.slide.color :visited {
		color: #365553;
	}
	.slide.color :link:hover,
	.slide.color :link:focus {
		background-color: #eee;
	}
}

@media (min-width: 31em) {
	.slide .next {
		margin-bottom: 0;
		position: fixed;
		bottom: .2em;
		right: .2em;
	}
	.slide .links {
		position: absolute;
		bottom: 0;
		margin-top: 0;
	}
}