---
title: Popular Posts
layout: layouts/pagealign.liquid
permalink: /web/best-of/total-views/
hidePostsInSidebar: true
---
<p>Ordered by {% icon "fas:calculator" %}total pageviews. <a href="/web/best-of/">Sort instead by {% icon "fas:fire-flame-curved" %}pageviews per day</a>. Data previously sourced from <a href="http://2ality.com/2015/10/google-analytics-api.html">Google Analytics</a>, a <a href="https://fediverse.zachleat.com/@zachleat/113052491369680287">handrolled method using FaunaDB</a>, and now <a href="https://www.goatcounter.com/">Goatcounter</a>. I also keep a highlight reel of the <a href="/twitter/popular/">most popular tweets</a>.</p>

<ol class="posts posts-showall posts-withimg">
	{% assign year = "" %}
	{% assign currentyear = "" %}
	{% assign listItems = collections.popularPostsTotalRanked %}
	{% for post in collections.popularPostsTotalRanked %}
		{% include "post-list-entry.html", ignoreYear: "true", ignorePopularity: true, previewImages: true %}
	{% endfor %}
</ol>