---
title: Top 20 Popular Posts (sorted by Views per Day)
layout: default
tmpl: list
permalink: /web/best-of/
dataUpdatedDate: 'July 11, 2019, 8:09 AM CDT'
---

<div class="layout-list">
	<article>
		<h1 class="primary-title posts-indent">{{ "Popular Posts 🔥" | orphanWrap }}</h1>

		<div class="posts-paragraph posts-indent">
			<p>Last updated {{ dataUpdatedDate }}. Ordered by pageviews per day. <a href="/web/best-of/total-views/">Sort instead by total pageviews ☀️</a>. Data <a href="http://2ality.com/2015/10/google-analytics-api.html">generated automatically</a> from the Google Analytics API. I also keep a highlight reel of the <a href="https://twitter.com/i/moments/816767407326949377">most popular tweets</a>.</p>
		</div>

		<ol class="posts posts-count posts-count-forward posts-showall">
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% assign listItems = collections.popularPostsRanked %}
			{% for post in collections.popularPostsRanked %}
				{% include post-list-entry.html, ignoreYear: "true", showDays: "true" %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.layout-list -->
