---
title: Top 20 Popular Posts
layout: default
tmpl: list
permalink: best-of/
dataUpdatedDate: 'August 12, 2017, 12:26 AM CDT'
---

<div class="maxwidth-list">
	<article>
		<h1 class="posts-indent">Top 20 Popular Posts 🔥</h1>

		<div class="posts-paragraph posts-indent">
			<p>Last updated {{ page.dataUpdatedDate }}. Data <a href="http://2ality.com/2015/10/google-analytics-api.html">generated automatically</a> from the Google Analytics API. I also keep a highlight reel of the <a href="https://twitter.com/i/moments/816767407326949377">most popular tweets</a>.</p>
		</div>

		{% assign rankedPosts = site.tags.popular-posts | sort:"postRank" %}  
		<ol class="posts posts-count posts-count-forward">
			{% for post in rankedPosts %}
				{% include post-list-entry.html ignoreYear="true" %}
			{% endfor %}
		</ol>
	</article>
	{% include footer.html %}
</div><!-- /.maxwidth-list -->
