---
title: Highlights
layout: default
tmpl: list
---

<div class="maxwidth-list">
	<article>
		<h1>Highlights</h1>
		<p>A list of self-curated posts that I’m most proud of. If you want to see what everyone else liked, check out <a href="/web/best-of/">popular posts</a>.</p>
		<ol class="posts">
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% for post in collections.highlight %}
				{% include post-list-entry.html %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.maxwidth-list -->
