<div class="about">
	<p>{% include "bio-text-medium.html" %} <a href="/about/">Learn more<span class="a11y-only"> about Zach</span> &raquo;</a></p>
	<ul>
		<li>
			<a href="https://fediverse.zachleat.com/@zachleat">{% icon "fab:mastodon" %}<strong>Follow on Mastodon</strong></a>
		</li>
		<li>
			<a href="https://bsky.app/profile/zachleat.com">{% icon "fab:bluesky" %}<strong>Follow on Bluesky</strong></a>
		</li>
		<li>
			<a href="/web/feed/">{% icon "fas:square-rss" %}<strong>Subscribe</strong></a>
		</li>
	</ul>
</div>