{% assign sentiment = comment.message | getSentimentValue %}
<li class="static-comments-reply{% if sentiment < 0 %} static-comments-reply-salty{% endif %}" id="comment-{{ comment.postId }}">
	<div class="static-comments-hed">
		<img src="{{ comment.avatar }}" class="static-comments-img">
		<h3 class="static-comments-title cased">{{ comment.author }} <span class="tag-inline" title="Readonly Comment Archived from Disqus (Disqus has been removed from this site)">Disqus</span></h3>
		<em class="static-comments-date"><a href="#comment-{{ comment.postId }}">{{ comment.date | readableDateFromISO }}</a></em>
	</div>
	<div class="static-comments-msg{% if comment.message.length > 5000 %} static-comments-msg-long{% endif %}">{{ comment.message | escapeGoat | randomCase: sentiment }}</div>
	<ol>
	{% for reply in comment.replies %}
		{% include comment-entry.html, comment: reply %}
	{% endfor %}
	</ol>
</li>