<footer class="content-grid-sibling">
	<div class="footer">
		Built with <a href="https://11ty.dev/">Eleventy v{{ eleventy.version }}</a>
		· <a href="/web/license/">MIT license</a>
		· <a href="/web/style-guide/">Style Guide</a>
		· <a href="https://www.zachleat.com/twitter/">Twitter Archive</a>
		· <a href="https://github.com/zachleat/zachleat.com/tree/master/{{ page.inputPath }}">Edit this page</a>

		<form class="toggle-features-form">
			<div class="fl fl-inline fl-nowrap">
				<a href="/uses/"><img src="/img/built-with-eleventy.gif" alt="Built with Eleventy, Red balloon floats away" loading="lazy" width="88" height="31" eleventy:ignore class="footer-badge"></a>
				{%- renderTemplate "webc" %}
				<div>
					<toggle-button label="CSS" class="toggle-css"></toggle-button>
				</div>
				<div>
					<toggle-button label="Web Fonts" @toggleclass="font-fallback"></toggle-button>
				</div>
				{%- endrenderTemplate %}

{%- capture urlWithOrigin %}https://www.zachleat.com{{ page.url }}{% endcapture -%}
{%- if speedlify[urlWithOrigin] %}
				<a href="https://www.speedlify.dev/zachleat.com/#site-{{ speedlify[urlWithOrigin].hash }}" class="speedlify-link" aria-label="View the full results on speedlify.dev">
					{%- assign hash = speedlify[urlWithOrigin].hash %}
					{%- renderTemplate "webc", hash %}
					<speedlify-score :hash="_" score weight></speedlify-score>
					{%- endrenderTemplate %}
				</a>
{%- endif %}
			</div>
		</form>
	</div>
</footer>
