
{%- capture previousyear %}{{ currentyear }}{% endcapture %}
{%- capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
{%- if currentyear != year and ignoreYear != "true" %}
<li class="subhed" id="{{ currentyear }}"><span class="spark">
		<span>{{ currentyear }}</span>
		<span data-filter-category data-filter-results-exclude><img src="https://v1.sparkline.11ty.dev/80x16/{{ listItems | getMonthlyPostCount: currentyear }}/{{ '#94b388' | encodeUriComponent }}/" width="80" height="16" alt="Sparkline representing frequency of posts written by month in {{ currentyear }}" loading="lazy" decoding="async" class="spark-img"></span>
	</span>{% if listItems %} <span class="subhed-count" data-filter-category data-filter-results-exclude>×{{ listItems | getPostCountForYear: currentyear }}</span>{% endif %}</li>
	{%- capture year %}{{currentyear}}{% endcapture %}
	{%- assign currentyearpostcount = 0 %}
{%- endif %}
{%- capture nullvoid %}{% increment currentyearpostcount %}{% endcapture %}
<li
	class="
		{%- if post.data.metadata and post.data.metadata.schedule and post.data.tags contains 'speaking' or post.data.event_link %}event-link {% endif %}
		{%- if post.data.deprecated %}deprecated {% endif %}
		{%- if post.data.smalltitle %}smalltitle {% endif %}
		{%- if post.data.tags contains 'upcoming' %}upcoming {% endif %}
		{%- if post.data.tags contains 'nejsconf' %}nejsconf {% endif %}
		{%- if hfeed %}h-entry{% endif %}"
	{%- if post.data.deprecated %} title="Deprecated/Outdated Post"{% endif %}{% comment %}
	{% endcomment %} data-filter-category="{{ post | getFilterCategories }}">
	
	<a href="{% if post.data.tags contains 'external' %}{{ post.data.external_url }}{% else %}{{ post.url | url }}{% endif %}" class="posts-link{% if hfeed %} p-name u-url{% endif %}">
	{%- if post.data.tags contains 'eleventy' %}<span class="tags"><span class="tag eleventy">11ty</span></span>{% endif -%}
	{%- if post.data.tags contains 'external' -%}
		<span class="external" title="External Link"><span class="icon-link-external"></span></span>
		{%- imgavatarForExternalUrl post.data.external_url "z-avatar z-avatar-eq z-avatar-external" -%}
	{%- endif -%}
	{%- if view == 'project' -%}
		{% if post.data.project_name %}{{ post.data.project_name }}{% else %}{{ post.data.title }}{% endif %}
	{%- else -%}
		{%- if post.data.titleHtml %}{{ post.data.titleHtml }}{% else if post.data.renderData.title %}{{ post.data.renderData.title }}{% else %}{{ post.data.title }}{% endif -%}
	{%- endif -%}
	</a>

	<span class="tags">
		{%- capture absoluteUrl -%}{{ post.url | url | absoluteUrl }}{%- endcapture -%}

		{%- if post.data.tags contains 'font-loading' %}<span class="tag font-loading">Web Fonts</span>{% endif -%}
		{%- if post.data.tags contains 'project' %}<span class="tag">Project</span>{% endif -%}
		{%- if post.data.tags contains 'research' %}<span class="tag">Research</span>{% endif -%}
		{%- if post.data.tags contains 'nejsconf' %}<span class="tag">NEJS CONF</span>{% endif -%}
		{%- if post.data.tags contains 'conference' -%}
			{%- if post.data.tags contains 'speaking' %}<span class="tag"{% if post.data.tags contains 'speaking' %} href="/web/speaking/"{% endif %}>Speaking</span>{% endif -%}
			{%- if post.data.event_date %}<span class="tag tag-event">on {{ post.data.event_date }}</span>{% endif -%}
		{%- elsif post.data.tags contains 'presentations' or post.data.tags contains 'speaking' or post.data.tags contains 'video' or post.data.tags contains 'audio' -%}
			<span class="tag">Speaking</span>
			{%- if post.data.event_date %}<span class="tag tag-event">on {{ post.data.event_date }}</span>{% endif -%}
		{%- endif -%}
		{%- if post.data.tags contains 'video' %}<span class="tag video">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Video</span>{% endif -%}
		{%- if post.data.tags contains 'audio' %}<span class="tag audio">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Audio</span>{% endif -%}
{%- if ignorePopularity != true %}
		{%- if post.data.postRank or post.data.postRankTotalViews %}<span class="tag" title="Popularity Ranking">{% if post.data.postRankTotalViews and showRankTotalViews == "true" %}{{ "☀️" | emoji }} #{{ post.data.postRankTotalViews }}{% elsif post.data.postRank %}{{ "🔥" | emoji }} #{{ post.data.postRank }}{% endif %}</span>{% if showDays == "true" %} <span class="tag timeago">posted for {{ post.date | timePosted }}</span>{% endif %}{% endif -%}
{%- endif %}

		{%- assign webmentionsCount = webmentions | webmentionsForUrl: absoluteUrl | size -%}
		{%- assign activityCount = webmentionsCount -%}
		{%- if commentsCounts[post.url] %}{% assign activityCount = webmentionsCount | plus: commentsCounts[post.url] %}{% endif -%}
		{%- if activityCount > 0 %}<span class="tag" title="{{ activityCount }} generic activity point{% if activityCount != 1 %}s{% endif %}">📢 {{ activityCount }}</span>{% endif -%}
	</span>
	<span class="date">{{ post.date | date: "%h %Y" }}</span>
	{% if view == 'project' %}
		{% if post.headimage %}<img src="{{ post.headimage }}" class="project_img">{% endif %}
		{% if post.headvideo %}<video muted controls preload="metadata" src="{{ post.headvideo }}" class="project_video"></video>{% endif %}
		{% if post.description %}<p class="description">{{ post.description }}</p>{% endif %}
	{% endif %}
</li>