
{%- capture previousyear %}{{ currentyear }}{% endcapture %}
{%- capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
{%- if currentyear != year and ignoreYear != "true" %}
<li class="subhed" id="{{ currentyear }}"><span class="spark">
		<span class="subhed-year">{{ currentyear }}</span>
		{% if listItems %} <span class="subhed-count" data-filter-category data-filter-results-exclude>×{{ listItems | getPostCountForYear: currentyear }}</span>{% endif %}
		<span data-filter-category data-filter-results-exclude><img src="https://v1.sparkline.11ty.dev/80x16/{{ listItems | getWeeklyPostCountForYear: currentyear }}/{{ '#94b388' | encodeUriComponent }}/" width="80" height="16" alt="Sparkline representing frequency of posts written by month in {{ currentyear }}" loading="lazy" decoding="async" class="spark-img" eleventy:ignore></span>
	</span></li>
	{%- capture year %}{{currentyear}}{% endcapture %}
	{%- assign currentyearpostcount = 0 %}
{%- endif %}
{%- capture nullvoid %}{% increment currentyearpostcount %}{% endcapture %}
<li
	class="
		{%- if post.data.deprecated %}deprecated {% endif %}
		{%- if post.data.tags contains 'nejsconf' %}nejsconf {% endif %}
		{%- if hfeed %}h-entry{% endif %}"
	{%- if post.data.deprecated %} title="Deprecated/Outdated Post"{% endif %}{% comment %}
	{% endcomment %} data-filter-category="{{ post | getFilterCategories }}">

	<a href="{{ post.url }}" class="posts-link{% if hfeed %} p-name u-url{% endif %}">
	{%- if previewImages %}
		{%- comment %}We can use alt="" here so we don’t duplicate the content with the post title{% endcomment %}
		<img src="{% ogImageSource post %}" alt="" decoding="async" loading="lazy" class="project_img" eleventy:widths="650,375" sizes="(min-width: 64em) 50vw, 100vw"{% if post.date | isRecentPost %} eleventy:ignore{% endif %}>
	{%- endif %}
	{%- if view == 'project' -%}
		{% if post.data.project_name %}{{ post.data.project_name }}{% else %}{{ post.data.title }}{% endif %}
	{%- else -%}
		{%- if post.data.titleHtml %}{{ post.data.titleHtml }}{% else %}{{ post.data.title }}{% endif -%}
	{%- endif -%}
	{%- if post.data.deprecated %}<span class="tag-inline tag-borderless">{% icon "fa:skull-crossbones" %}</span>{% endif -%}
	</a>

	<span class="tags">
		{%- if post.data.tags contains 'font-awesome' or post.data.tags contains 'web-awesome' %}
			{%- if post.data.tags contains 'font-awesome' %}{% icon "fab:font-awesome" %}{% endif -%}
			{%- if post.data.tags contains 'web-awesome' %}{% icon "fab:web-awesome" %}{% endif -%}
		{% endif -%}

		{%- assign iconUrl = post.data.external_icon_url | default: post.data.external_url -%}
		{%- if post.data.tag_icon %}
			{%- icon post.data.tag_icon %}
		{%- elsif iconUrl and post.data.external_icon_url != false -%}
			{%- indieAvatar iconUrl "z-avatar z-avatar-external" -%}
		{%- endif %}

		{%- if post.data.tags contains 'video' %}<span class="tag video">{% icon "fa:video" %}{% if post.data.medialength %}<span class="length"> {{ post.data.medialength }}</span>{% endif %}</span>{% endif -%}
		{%- if post.data.tags contains 'audio' %}<span class="tag audio">{% icon "fa:headphones" %}{% if post.data.medialength %}<span class="length"> {{ post.data.medialength }}</span>{% endif %}</span>{% endif -%}

		{%- include "post-popularity-social-tags.html" -%}

		{%- if post.data.external_url -%}
			<span class="tag tag-borderless">{%- icon "fa:arrow-up-right-from-square" -%}</span>
		{%- endif -%}

		{%- if previewImages and post.data.pinned %}<span title="Pinned">📌</span>{% endif %}
	</span>
{% comment %}
	<span class="date">{{ post.date | date: "%h %Y" }}</span>
{% endcomment %}
</li>