
{% capture previousyear %}{{ currentyear }}{% endcapture %}
{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
{% if currentyear != year and ignoreYear != "true" %}
{% comment %}
{% if currentyearpostcount > 0 %}
	<li class="subhed yearcount">{{ currentyearpostcount }} post{%if currentyearpostcount != 1 %}s{% endif %}{% if previousyear %} in {{ previousyear }}{% endif %}</li>
{% endif %}
{% endcomment %}
	<li class="subhed" id="{{ currentyear }}">{{ currentyear }}{% if listItems %} <span class="subhed-count">×{{ listItems | getPostCountForYear: currentyear }}</span>{% endif %}</li>
	{% capture year %}{{currentyear}}{% endcapture %}
	{% assign currentyearpostcount = 0 %}
{% endif %}
{% capture nullvoid %}{% increment currentyearpostcount %}{% endcapture %}
<li class="{% if post.data.metadata contains 'schedule' and post.data.tags contains 'speaking' %}event-link {% endif %}{% if post.data.deprecated %}deprecated {% endif %}{% if post.data.tags contains 'highlight' %}highlight {% endif %}{% if post.data.smalltitle %}smalltitle {% endif %}{% if post.data.tags contains 'upcoming' %}upcoming {% endif %}{% if post.data.tags contains 'nejsconf' %}nejsconf {% endif %}"{% if post.data.deprecated %} title="Deprecated/Outdated Post"{% endif %}>
	{% if post.data.tags contains 'external' %}<span class="external" title="External Link"><span class="icon-link-external"></span></span>{% endif %}
	
	<a href="{% if post.data.tags contains 'external' %}{{ post.data.external_url }}{% else %}{{ post.url | url }}{% endif %}" class="posts-link">
	{%- if post.data.event_country %}{{ post.data.event_country }} {% endif -%}
	{%- if view == 'project' -%}
		{% if post.data.project_name %}{{ post.data.project_name }}{% else %}{{ post.data.title }}{% endif %}
	{%- else -%}
		{{ post.data.title }}
	{%- endif -%}
	</a>

	<span class="tags">
		{%- capture absoluteUrl -%}{{ post.url | url | absoluteUrl }}{%- endcapture -%}
		{%- assign webmentionsCount = webmentions.children | webmentionsForUrl: absoluteUrl | size -%}
		{%- assign activityCount = webmentionsCount -%}
		{%- if commentsCounts[post.url] %}{% assign activityCount = webmentionsCount | plus: commentsCounts[post.url] %}{% endif -%}
		{%- if activityCount > 0 %}<span class="tag tag-cased" title="{{ activityCount }} generic activity point{% if activityCount != 1 %}s{% endif %}">📢 {{ activityCount }}</span>{% endif -%}

		{%- if post.data.tags contains 'note' %}<a href="/web/notes/" class="tag">Note</a>{% endif -%}
		{%- if post.data.tags contains 'eleventy' %}<a href="/web/eleventy/" class="tag">Eleventy</a>{% endif -%}
		{%- if post.data.tags contains 'font-loading' %}<a href="/web/fonts/" class="tag font-loading">Web Fonts</a>{% endif -%}
		{%- if post.data.tags contains 'project' %}<a href="/web/projects/" class="tag">Project</a>{% endif -%}
		{%- if post.data.tags contains 'research' %}<a href="/web/research/" class="tag">Research</a>{% endif -%}
		{%- if post.data.tags contains 'nejsconf' %}<a href="/web/nejsconf/" class="tag">NEJS CONF</a>{% endif -%}
		{%- if post.data.tags contains 'conference' -%}
			{%- if post.data.tags contains 'speaking' %}<a class="tag"{% if post.data.tags contains 'speaking' %} href="/web/speaking/"{% endif %}>Speaking</a>{% endif -%}
			{%- if post.data.event_date %}<span class="tag tag-event">on {{ "📅" | emoji }} {{ post.data.event_date }}</span>{% endif -%}
		{%- elsif post.data.tags contains 'presentations' or post.data.tags contains 'speaking' or post.data.tags contains 'video' or post.data.tags contains 'audio' -%}
			<a href="/web/speaking/" class="tag">Speaking</a>
			{%- if post.data.event_date %}<span class="tag tag-event">on {{ "📅" | emoji }} {{ post.data.event_date }}</span>{% endif -%}
		{%- endif -%}
		{%- if post.data.tags contains 'video' %}<span class="tag video">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Video</span>{% endif -%}
		{%- if post.data.tags contains 'audio' %}<span class="tag audio">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Audio</span>{% endif -%}
		{%- if post.data.postRank or post.data.postRankTotalViews %}<a href="/web/best-of/" class="tag postrank" title="Popularity Ranking">{% if post.data.postRankTotalViews and showRankTotalViews == "true" %}{{ "☀️" | emoji }} #{{ post.data.postRankTotalViews }}{% elsif post.data.postRank %}{{ "🔥" | emoji }} #{{ post.data.postRank }}{% endif %}</a>{% if showDays == "true" %} <span class="tag timeago">posted for {{ post.date | timePosted }}</span>{% endif %}{% endif -%}
		{%- if post.data.tags contains 'highlight' %}<a href="/web/highlights/" class="tag highlight" title="Highlight"><span class="highlight-label">Highlight </span><span class="highlight-star" aria-hidden="true">★</span></a>{% endif -%}
	</span>
	<span class="date">{{ post.date | date: "%h %Y" }}</span>
	{% if view == 'project' %}
		{% if post.headimage %}<img src="{{ post.headimage }}" class="project_img">{% endif %}
		{% if post.headvideo %}<video muted controls preload="metadata" src="{{ post.headvideo }}" class="project_video"></video>{% endif %}
		{% if post.description %}<p class="description">{{ post.description }}</p>{% endif %}
	{% endif %}
</li>