<script type="module" src="/static/pagefind-search.js"></script>
<is-land on:visible on:save-data="false">
	<pagefind-search _show_images="false" pagefind-autofocus>
		<form action="https://duckduckgo.com/" method="get" style="min-height: 3.36842105em">
			<label for="search-term" class="sr-only">Search Terms</label>
			<input type="search" name="q" id="search-term" autocomplete="off" autofocus>
			<input type="hidden" name="sites" value="www.zachleat.com">
			<button type="submit">Search</button>
		</form>
	</pagefind-search>
</is-land>
