<span class="social">
	<a href="https://zachleat.com/@zachleat" class="social_icon">
		{% icon "fab:mastodon" %}
		<span class="a11y-only"> @zachleat@zachleat.com on Mastodon</span>
	</a>
	<a href="https://bsky.app/profile/zachleat.com" class="social_icon">
		{% icon "fab:bluesky" %}
		<span class="a11y-only"> @zachleat.com on Bluesky</span>
	</a>
	<a href="https://github.com/zachleat/" class="social_icon">
		{% icon "fab:github" %}
		<span class="a11y-only"> @zachleat on GitHub</span>
	</a>
	<a href="/web/feed/" class="social_icon" title="Zach Leatherman’s RSS Feed">
		{% icon "fas:square-rss" %}
		<span class="a11y-only"> RSS</span>
	</a>
{% comment %}	<a href="https://www.11ty.dev/" class="social_icon social_icon-rounded">
		{% indieAvatar "https://www.11ty.dev/", "" %}
	</a> {% endcomment %}
</span><!-- /.social -->
