---
layout: default
---

<article>
	<ol class="posts">
		{% for post in site.categories.presentations %}
			<li><a href="{{ site.baseurl }}{{ post.url }}"><span class="date">{{ post.date | date: "%h %Y" }}</span> {{ post.title }}
				{% if post.tags contains 'video' %}<span class="tag video">Video{% if post.videolength %} <span class="length">{{ post.videolength }}</span>{% endif %}</span>{% endif %}
			</a></li>
		{% endfor %}
	</ol>
	<h2>Elsewhere</h2>
	<ol class="posts">
		<li><a href="https://speakerdeck.com/zachleat/side-projects"><span class="date">Mar 2013</span> Side Projects (Awesome Camp)</a></li>
		<li><a href="http://nebraskajs.com/2012/performance-in-rwd/"><span class="date">Nov 2012</span> Performance in Responsive Web Design (NebraskaJS)</a></li>
		<li><a href="http://www.slideshare.net/zachleat/progressive-enhancement-8766538"><span class="date">Aug 2011</span> Progressive Enhancement (jQuery Omaha)</a></li>
	</ol>
</article>
{% include footer.html %}