/* Call to Action and Deprecation Warning */
.callout {
	font-size: 1.125em;
	line-height: 140%;
	padding: .5em;
	margin-top: 1em;
	border-radius: 5px;
	box-shadow: 0 0 0 2px var(--callout-color, #ccc);
}
.callout h3 {
	display: inline;
	line-height: 2;
	margin-right: .6em;
}
.callout h3:after {
	content: ':';
}
.callout-hed {
	text-transform: uppercase;
	margin-bottom: .5em;
	@include webfontBold;
}
.callout p {
	margin: 0;
	@include webfontItalic;
}
.callout-warning {
	background-color: #ffc;
}
.callout--11ty {
	--callout-color: #000;
}
.callout--sm {
	font-size: 0.9375em; /* 15px /16 */
	line-height: 1.6;
}