@use "mixins";

/* Call to Action and Deprecation Warning */
.callout {
	font-size: 1.125em;
	line-height: 140%;
	padding: .5em;
	margin-top: 1em;
	border-radius: 5px;
	box-shadow: 0 0 0 2px var(--callout-color, #000);
}
.callout h3 {
	display: inline;
	margin-right: .6em;
}
.callout-hed {
	text-transform: uppercase;
	margin-bottom: .5em;
	@include mixins.webfontBold;
}
.callout p {
	margin: 0;
	line-height: 160%;
	@include mixins.webfontItalic;
}
.callout-alert,
.callout-warning {
	background-color: #ffc;
}
.callout--sm {
	font-size: 0.9375em; /* 15px /16 */
	line-height: 1.6;
}