.carousel {
	display: flex;
	scroll-behavior: smooth;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}
.carousel > * {
	scroll-snap-align: center;
	min-width: 100%;
}

.carousel-16-9 picture,
.carousel-16-9 img {
	display: block;
	aspect-ratio: 16/9;
}
.fullwidth .carousel.carousel img {
	width: 100%;
	height: auto;
	max-width: none;
}
@media (min-width: 61.25em) { /* 980px */
	.carousel {
		border: 2px solid #ddd;
		border-radius: .5em .5em 0 0;
	}
}

/* Carouscroll component CSS to reduce CLS */
.carouscroll {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}
.carouscroll > * {
	display: block;
	min-width: 100%;
	aspect-ratio: 16/9;
}
.carouscroll img {
	vertical-align: middle;
}
/* Buttons */
.carouscroll-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: none;
}
[data-carousel-previous],
[data-carousel-next] {
	padding: .25em .5em;
	background-color: transparent;
	border: none;
	color: inherit;
	font: inherit;
}
[data-carousel-previous][disabled],
[data-carousel-next][disabled] {
	pointer-events: none;
	opacity: .5;
}
:is([data-carousel-previous], [data-carousel-next]):is(:hover, :focus) {
	background-color: rgba(0,0,0,.08);
}

/* Single page */
.carouscroll-single {
	overflow: hidden;
}

/* Excluded from builds */
[data-eleventy-runmode="serve"] carou-scroll img[alt*="Slide "] {
	border: 1em solid red;
}