/* Compatibility Tables */
.better,
.worse {
	@include webfontBold;
	white-space: nowrap;
}
.worse {
	color: #CB000F;
}
.better {
	color: #00882D;
}
table .yes,
table .no,
table .maybe,
table .emulate {
	color: #fff;
}
table .yes {
	background-color: #00882D;
}
table .no {
	background-color: #CB000F;
}
table .maybe {
	background-color: #969600;
}
table .emulate {
	background-color: #40A662;
}

