// Fonts
$monospaceFont: Consolas, Monaco, monospace;
$fallbackSystemFont: sans-serif;

// Colors
$borderColor: #7f917f;
$primaryColor: #3c603c;
$textColor: #525252;
$linkActiveColor: #4caf50;

// Breakpoints
$oneColLayoutMaxWidth: 61.1875em; /* 979px /16 */
$twoColLayoutMinWidth: 61.25em; /* 980px /16 */
