@font-face {
	font-family: Lato;
	src: url('/static/fonts/lato/2.0/latolatin-regular-subset.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: url('/static/fonts/lato/2.0/latolatin-bold-subset.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: url('/static/fonts/lato/2.0/latolatin-italic-subset.woff2') format('woff2');
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: url('/static/fonts/lato/2.0/latolatin-bolditalic-subset.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Hex Franklin Tight;
	src: url('/static/fonts/hex-franklin/HEX_Franklin_v0.2_Tyght_Variable-subset.woff2') format('woff2');
	unicode-range: U+20,U+21,U+23,U+24,U+26,U+28,U+29,U+2B-3C,U+3E-5B,U+5D,U+5F,U+7E,U+B7,U+D7,U+E9,U+FC,U+2013,U+2014,U+2019,U+201C,U+201D,U+2026,U+2116,U+25A2;
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	size-adjust: 110%;
}

/* Also I liked Josefin Sans */
@font-face {
	font-family: Numero; /* 'Old Standard TT' */
  src: url(/static/fonts/old-standard/oldstandard-italic-subset.woff2) format("woff2");
  font-style: italic;
  font-display: swap;
  unicode-range: U+2116;
}

@font-face {
	font-family: Numero; /* 'Old Standard TT' */
  src: url(/static/fonts/old-standard/oldstandard-regular-subset.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+2116;
}
