/* Lists */
dt {
	@include webfontBold;
}
dd {
	font-size: 0.9473684210526em; /* 18px /19 */
	margin: 0 0 1.5em 0;
}
dd ul,
dd ol {
	margin: 0;
}
dd ul.via {
	font-size: 0.875em; /* 14px /16 */
}
.dl-inline dt {
	float: left;
	margin-right: .5em;
}
.dl-inline dt:after {
	content: ":";
	@include webfont;
}

/* Inline List */
.list-inline.list-inline.list-inline {
	padding: 0;
}
.list-inline > li {
	list-style: none;
}

/* Next/prev */
dl.nextprev {
	display: flex;
	flex-wrap: wrap;
}
dl.nextprev dt {
	text-transform: uppercase;
	font-size: 0.8125em; /* 13px /16 */
	flex-basis: 6em;
	margin-right: 1em;
}
dl.nextprev dd {
	flex-basis: 23em;
	flex-grow: 999;
	margin-bottom: 0.625em; /* 10px /16 */
}
