@use "mixins";
@use "config";

/* Live test cases */
.livedemo {
	--box-shadow-color: #add8e6;
	display: block;
	padding: .5rem .5rem 1rem .5rem;
	border: none;
	box-shadow: 0 0 0 var(--box-shadow-width, 2px) var(--box-shadow-color);
	position: relative;
	margin: .5rem -.25rem 1.5rem;

	@media (min-width: 38.25em) { /* 612px */
		border-radius: 8px;
		padding-left: .75rem;
		padding-right: .75rem;
		margin-left: -.75rem;
		margin-right: -.75rem;
	}
	@media (min-width: config.$twoColLayoutMinWidth) {
		padding: .875rem .875rem 1rem .875rem;
		margin-left: -.875rem;
		margin-right: -.875rem;
	}
}

/* Stay inside of the primarydemo boxes */
.content-main .livedemo > pre {
	margin-left: calc( -.5rem );
	width: calc( 100% + 1rem );
	max-width: none;

	@media (min-width: config.$twoColLayoutMinWidth) {
		margin-left: calc( -.875rem );
		width: calc( 100% + 1.75rem );
	}
}
pre + .livedemo {
	margin-top: 2rem;
}
.livedemo:after {
	content: "Demonstration";
	position: absolute;
	right: .5rem;
	bottom: -4px;
	font-size: .75rem;
	padding: 0 .25rem;
	line-height: 1;
	text-transform: uppercase;
	background: #fff;
	color: #8ac7db;
	@include mixins.webfont;
}
.livedemo-mixed:after {
	text-transform: none;
}
.livedemo.left:after {
	right: auto;
	left: .5rem;
}
.livedemo .livedemo {
	margin-right: -0.5rem;
	margin-left: -0.5rem;
	box-shadow: 0 0 0 2px #ddf0f6;
}
.livedemo .livedemo:last-child {
	margin-bottom: -0.4375rem; /* -7px /16 */
}
.livedemo[data-demo-label]:after {
	content: attr(data-demo-label);
}
.livedemo.top {
	padding-top: 1rem;
	padding-bottom: .75rem;
}
.livedemo.top:after {
	bottom: auto;
	top: -4px;
}
.livedemo p:first-child:last-child {
	margin-top: 0;
	margin-bottom: 0;
}
.livedemo.square-top {
	padding-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.livedemo.square-bottom {
	padding-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.livedemo-sm {
	font-size: 0.7826086956522em; /* 18px /23 */
	line-height: 165%;
}
.livedemo + .caption {
	margin-top: -1rem;
	margin-bottom: 1rem;
}

/* Centered, not full width, usually for an image */
.livedemo-auto {
	--box-shadow-width: 6px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.livedemo-auto:after {
	font-size: 0.875rem; /* 14px /16 */
	bottom: 0;
}

/* No labels */
.livedemo-nolabel {
	padding: 0;
}
.livedemo-nolabel:after {
	display: none;
}
.livedemo-nolabel img {
	display: block;
}

/* Dark mode */
.livedemo-dark {
	background-color: #121a39;
	color: #fff;
}
.livedemo-dark:after {
	top: 8px;
	left: 8px;
	background-color: transparent;
	bottom: auto;
	right: auto;
	font-size: 0.695652173913em; /* 16px /23 */
}
.livedemo-dark code {
	background-color: inherit;
	color: inherit;
}

/* Evil mode */
.livedemo-evil {
	--box-shadow-color: #521454;
	background-color: hsl(290deg, 47%, 38%);
	color: #fff;
	font-style: italic;
	margin-top: 3em;
	margin-bottom: 2em;
}
.livedemo-evil:before,
.livedemo-evil:after {
	content: "😈😈😈";
	font-size: 1em;
	text-shadow: 0px 0px 1em var(--box-shadow-color);
	font-style: normal;
	background-color: transparent;
	position: absolute;
	top: -1em;
	left: 50%;
	bottom: auto;
	right: auto;
	transform: translateX(-50%);
	letter-spacing: .5em;
}
.livedemo-evil:after {
	bottom: -.7em;
	top: auto;
}
.livedemo-sm {
	font-size: 0.7142857142857em; /* 15px /21 */
	max-width: 26em;
	margin-left: auto;
	margin-right: auto;
}
.livedemo-evil .emoji {
	font-style: normal;
}

/* Flush */
.livedemo-flush {
	padding: 0;
}

.livedemo img:not(.z-avatar) {
	display: block;
}

/* Details Livedemo */
details.livedemo:after {
	display: none;
}
details.livedemo > summary {
	color: #2292b6;
	font-size: 0.8695652173913em; /* 20px /23 */
	padding: .15em .5em;
	line-height: 1.5;
}
details.livedemo-dark > summary {
	color: #9fdaee;
}