.posts .nejsconf:not(.upcoming) a,
.posts .nejsconf:not(.upcoming) a:visited {
	color: #e4c20a;
}
.posts .nejsconf.upcoming .external {
	@include a11y-only;
}
.posts .nejsconf.upcoming a {
	display: block;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: -14.25px;
	margin-right: -14.25px;
	font-size: 1.157894736842em; /* 22px /19 */
}
.posts-count .nejsconf.upcoming:before {
	top: 24px;
}
.posts .nejsconf.upcoming a,
.posts .nejsconf.upcoming a:visited {
	background-color: #e4c20a;
	color: #fff;
}
.posts .nejsconf.upcoming a:hover {
	background-color: #ceb009;
}
.posts-count .nejsconf.upcoming:before {
	color: #fff;
}
@media (min-width: 30em) {
	.posts .nejsconf.upcoming a {
		display: inline-block;
		padding-left: 55px;
		padding-right: 55px;
		margin-left: 0;
		margin-right: 0;
	}
}