/* Retweet to share widget on posts */
.retweettoshare {
	position: relative;
	overflow: hidden;
	margin-top: 4em;
	margin-bottom: -2.5em;
	padding: 1.5em .5em 0;
	border-radius: 4px;
	border: 3px solid #19cf86;
}
.retweettoshare-m {
	margin-bottom: 0;
}
.retweettoshare_title {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 4em;
	font-size: 0.8421052631579em; /* 16px /19 */
	border: none;
	margin: 0;
	text-align: center;
	color: #19cf86;
	background: rgba( 255, 255, 255, .9 );
	background: linear-gradient(to bottom, #fff, rgba(255,255,255,.8) 60%, transparent 100%);
	pointer-events: none;
}
.retweettoshare_widget .twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}
.retweettoshare_widget .twitter-tweet-rendered {
	margin-top: -48px !important;
}
/* while the tweet is loading */
.retweettoshare_widget blockquote {
	margin-top: 0;
}