@use "config";

/* Social links */
.social {
	display: flex;
	align-items: center;
	gap: .75em;
}
.social .z-fa-icon {
	margin: 0;
}
@media (min-width: config.$twoColLayoutMinWidth) {
	.rail .social {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.social_icon {
	display: inline-block;
	font-family: sans-serif;
	opacity: .8;
}
.social_icon-rounded img {
	border-radius: .15em;
}
.social_icon img {
	min-width: 1.75rem; /* 28px /16 */
	width: 1.75rem; /* 28px /16 */
	height: 1.75rem; /* 28px /16 */
}
.social > .social_icon:first-child {
	margin-left: 0;
}
.social_icon:hover {
	opacity: 1;
}
.social a {
	display: inline-flex;
	font-size: 1.6em;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}
.social a:link,
.social a:visited {
	color: #444;
}

.icon-inline {
	display: inline-block;
	padding-left: 2.25rem; /* 36px /16 */
	margin-left: 0.375rem; /* 6px /16 */
}

/* Small viewport navigation */
@media (max-width: config.$oneColLayoutMaxWidth) {
	.rail .navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		margin: 1em auto 0;
	}
	@media (min-width: 40em) { /* 640px */
		.rail .navigation {
			gap: 2em;
		}
	}
	.rail .social {
		justify-content: center;
	}
	.rail .navigation .tags a[href] {
		padding-left: .75em;
		padding-right: .75em;
		white-space: nowrap;
	}
}
