.font-foit,
.font-foit *,
.font-foit *:before,
.font-foit *:after {
	font-family: $fallbackSystemFont !important;
	color: transparent !important;
}
.font-fallback,
.font-fallback *,
.font-fallback *:before,
.font-fallback *:after {
	font-family: $fallbackSystemFont !important;
}
.font-latosubset,
.font-latosubset *,
.font-latosubset *:before,
.font-latosubset *:after {
	font-family: LatoSubset, $fallbackSystemFont !important;
}
.font-lato,
.font-lato *,
.font-lato *:before,
.font-lato *:after {
	font-family: Lato, $fallbackSystemFont !important;
}
.font-latobold,
.font-latobold *,
.font-latobold *:before,
.font-latobold *:after {
	font-family: LatoBold, $fallbackSystemFont !important;
}
.font-latoitalic,
.font-latoitalic *,
.font-latoitalic *:before,
.font-latoitalic *:after {
	font-family: LatoItalic, $fallbackSystemFont !important;
}
.font-latobolditalic,
.font-latobolditalic *,
.font-latobolditalic *:before,
.font-latobolditalic *:after {
	font-family: LatoItalic, $fallbackSystemFont !important;
}

/* Color swatches */
.swatches {
	overflow: hidden;
}
.swatch {
	float: left;
	padding: .75em;
	margin-right: .25em;
	margin-bottom: .25em;
	border-radius: 5px;
}

/* Background inline */
@supports (box-decoration-break: clone) or (-webkit-box-decoration-break: clone) {
	.text-highlight.text-highlight {
		display: inline;
		padding: 0 .2em;
		margin-left: -.2em;
		margin-right: -.2em;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}