* {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	/* Force scrollbar */
	overflow-y: scroll;
}
html {
	background-color: #fff;
	color: #222;
}
body {
	padding: 0;
	margin: 0;
}
img,
video {
	max-width: 100%;
	border: none;
}
img[width][height] {
	height: auto;
}
hr {
	border-top: 1px solid #e9e9e9;
	width: 80%;
}
abbr {
	text-decoration: none;
}
.list-flush.list-flush.list-flush {
	list-style: none;
	padding-left: 0;
}

/* Accessibility and Cut the Mustard */
.sr-only,
.a11y-only {
	@include a11y-only;
}
.enhanced-only {
	display: none;
}
.enhanced-js .enhanced-only {
	display: block;
}

/* Ellipsis */
.text-ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Hide on small viewport */
/* Use a max-width here so it inherits the original value at 500px */
@media( max-width: 31.1875em) { /* 499px /16 */
	.hide-sm {
		display: none !important;
	}
}
@media( max-width: 36.1875em) { /* 579px */
	.hide-md {
		display: none !important;
	}
}
@media( max-width: $oneColLayoutMaxWidth) {
	.hide-singlecol {
		display: none !important;
	}
}


/* Flex utility classes */
.flex {
	--flex-gap: .5em;
	display: flex;
	gap: var(--flex-gap);
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flexcol-1-4 {
	flex-grow: 1;
	flex-basis: calc(25% - var(--flex-gap) / 2);
}
.flexcol-3-4 {
	flex-grow: 1;
	flex-basis: calc(75% - var(--flex-gap) / 2);
}
.flexcol-3-4 > p:first-child {
	margin-top: 0;
}
.flex-grow {
	flex-grow: 999;
}

/* Word Break */
.break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;

	/* Disable hyphenation */
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}

/* Post Addendum Notes */
.notes {
	font-size: .75em;
	line-height: 1.6;
}
.notes_link:target,
.notes_note :target {
	background-color: #ffc;
}
.notes_linkback {
	@include a11y-only;
}
.notes_linkback:target,
.notes_linkback:focus {
	@include undo-a11y-only;
}
.notes_note:focus-within {
	background-color: #ffc;
}
.notes_link {
	position: relative;
	top: -.7em;
	font-size: .6875em;
	line-height: 1;
}

/* Links from slide decks */
.reference-links.reference-links.reference-links {
	list-style: none;
	padding: 0;
}
.reference-links li {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid hsla(0, 0%, 75%, 0.5);
}
.reference-links a[href] {
	display: inline-block;
	padding: .25em .5em;
}
.reference-links a[href][id]:target,
.reference-links :target a[href] {
	background-color: #ffc;
}
.reference-links a[href]:before {
	content: "#" attr(id);
	font-size: .75em;
	padding-right: 1em;
	float: left;
	min-width: 3em;
}
.reference-links a[href]:after {
	content: attr(href);
	font-size: .75em;
	padding-left: 1em;
	margin-top: .5em;
	display: block;
	line-height: 1.3;
}

/* Iframe */
.iframer {
	position: relative;
	width: 100%;
	min-height: 12em;
	height: 50vh;
	border: 1px solid rgba(0, 0, 0, .05);
	overflow: hidden;
	pointer-events: none;
}
.iframe-cover,
.iframe-big {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.iframe-cover {
	background-color: rgba(255, 255, 255, .4);
	z-index: 10;
}
.iframe-big {
	border: none;
	width: 1px;
	min-width: 100%;
}

figure {
	margin: 0;
}
figcaption,
.caption {
	display: block;
	font-size: .75em;
	font-style: italic;
	margin-top: .2em;
	margin-bottom: 4em;
	line-height: 150%;
	@include webfontItalic;
}
figcaption strong,
.caption strong {
	@include webfontBoldItalic;
}
table + .caption {
	margin-top: .5em;
}
.caption + .caption {
	margin-top: -3.5em;
}

/* Layout Helpers */
.layout-list {
	margin: 0 auto;
	max-width: 45em;
}

h1,
h2,
h3,
h4,
h5,
.hed-h3 {
	@include unhyphenate;
}

/* Layout */
.rail {
	padding: 1em 1em .5em;
	margin-bottom: .5em;
	border-bottom: 1px solid #dedede;
	text-align: center;
}
.content-main {
	text-align: left;
	padding: 0 0.25rem; /* 4px /16 */
	// background-color: #fff;
	color: $textColor;
	font-size: 1.1875em; /* 19px /16 */
	line-height: 165%;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.content-main img.primary,
.content-main .fullwidth,
.content-main pre:not(.fullwidthexempt) {
	margin-left: calc(-0.25rem); /* -4px /16 */
	margin-right: calc(-0.25rem); /* -4px /16 */
	width: calc(100% + .5rem);
	max-width: none;
}

@media (min-width: 25em) { /* 400px */
	.content-main {
		max-width: 31em;
		padding-left: 0.75rem; /* 12px /16 */
		padding-right: 0.75rem; /* 12px /16 */
	}
	.content-main img.primary,
	.content-main .fullwidth,
	.content-main pre:not(.fullwidthexempt) {
		margin-left: -0.75rem; /* -12px /16 */
		margin-right: -0.75rem; /* -12px /16 */
		width: calc(100% + 1.5rem);
	}
	.tmpl-list .content-main {
		max-width: 45em;
		margin-left: auto;
		margin-right: auto;
	}
	.tmpl-page .content-main {
		max-width: 31em;
		margin-left: auto;
		margin-right: auto;
	}
}
@supports (display: grid) {
	@media (min-width: 40.625em) { /* 650px */
		.tmpl-list .content-main,
		.tmpl-page .content-main {
			max-width: none;
			margin-left: initial;
			margin-right: initial;
		}
		.tmpl-list .content-grid-sibling {
			max-width: 45em;
			margin-left: auto;
			margin-right: auto;
		}
		.tmpl-page .content-grid-sibling {
			max-width: 31em;
			margin-left: auto;
			margin-right: auto;
		}
		.tmpl-page .content-grid {
			display: grid;
			padding: 0;
			grid-template-columns: 1fr minmax(auto, 31em) 1fr;
			grid-column-gap: 0;
			max-width: 56.52173913043em; /* 1300px /23 */
			margin-left: auto;
			margin-right: auto;
		}
		.tmpl-page .content-grid > * {
			grid-column-start: 2;
			grid-column-end: 3;
		}
		.tmpl-page .content-grid > img.primary,
		.tmpl-page .content-grid > .fullwidth {
			grid-column-start: 1;
			grid-column-end: 4;
		}
		.tmpl-page .content-grid > .fullwidth img {
			width: 100%;
			height: auto;
			max-width: none;
		}
	}
	@media (min-width: 32.5em) { /* 520px */
		.tmpl-page .content-grid > pre:not(.fullwidthexempt) {
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}
	@media (max-width: $oneColLayoutMaxWidth) { /* 979px */
		.tmpl-page .primary-title {
			max-width: 13.47826086957em; /* 589px /43.7 */
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media (min-width: $twoColLayoutMinWidth) { /* 980px */
		.rail {
			padding: 0;
			border-bottom-width: 0;
			margin-bottom: 0;
			text-align: left;
		}
		.rail-sticky {
			position: sticky;
			top: 0;
		}

		.body-grid {
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-columns: 1fr 13.5rem 2.5rem;
			grid-column-gap: 1rem;
			grid-row-gap: 0;
			padding-top: 1rem;
		}

		.content-main { grid-area: 1/1/4/2; }
		.rail { grid-area: 1/2/4/3; }
		.hamburger { grid-area: 1/3/4/4; }

		/* w3c banner */
		.tmpl-page body {
			grid-template-columns: 1.5rem 1fr 13.5rem 2.5rem;
		}
		.tmpl-page .content-main { grid-area: 1/2/4/3; }
		.tmpl-page .rail { grid-area: 1/3/4/4; }
		.tmpl-page .hamburger { grid-area: 1/4/5/5; }

		.body-gradient {
			position: relative;
		}
		.body-gradient:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 4px;
			background-image: linear-gradient(238deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff0080);
		}
	}
}

@media (min-width: $twoColLayoutMinWidth) {
	.tmpl-page .content-main {
		font-size: 1.3125em; /* 21px /16 */
	}
}
@media (min-width: 75em) { /* 1200px */
	.tmpl-page .content-main {
		font-size: 1.4375em; /* 23px /16 */
	}
}


/* Content */
/*.content-main article > .sub + p:first-of-type:first-line,
.content-main article > h2 + p:first-line*/
.intro-smallcaps {
	font-family: Georgia;
	font-weight: 700;
	text-transform: uppercase;
}

.content-main ol:not(.posts),
.content-main ul:not(.posts) {
	padding-left: 1.5em;
}
@media (min-width: 41.25em) {
	.content-main ol,
	.content-main ul {
		padding-left: 0;
	}
}

/* App specific */
body {
	font-family: $fallbackSystemFont;
	line-height: 140%;
	@include webfont;

	font-variant-ligatures: common-ligatures;
	font-feature-settings: "liga", "clig";
}

/* Links */
:link,
:visited {
	text-decoration: underline;
	text-decoration-color: #4caf50;
}
:link {
	color: #467259;
}
:visited {
	color: #304f3e;
}
.content-main :link,
.content-main :visited {
	color: inherit;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: $linkActiveColor;
}

.about-description p {
	margin-top: 0;
}
html:not(.tmpl-list) .content-main .posts a:not(.social_icon),
html:not(.tmpl-list) .content-main pre a[href],
html:not(.tmpl-list) .content-main code a[href],
html:not(.tmpl-list) a[href].no-underline.no-underline,
html:not(.tmpl-list) pre a[href].no-underline.no-underline {
	text-decoration: none;
}
html:not(.tmpl-list) .content-main pre a[href],
html:not(.tmpl-list) .content-main code a[href] {
	text-decoration: underline;
}

/* Emphasis */
strong {
	@include webfontBold;
}
em,
blockquote {
	@include webfontItalic;
}
strong em,
strong blockquote,
em strong,
blockquote strong {
	@include webfontBoldItalic;
}

/* Headers */
h1, h2, h3 {
	margin-top: 1.4em;
}
h1, h2, h3, .hed-h3 {
	font-family: Hex Franklin Tight, -apple-system, system-ui, LatoBold, sans-serif;
	font-variation-settings: "wdth" 100, "TYTE" -35, "NOTC" 1;
	font-weight: 900;
}
h4, h5 {
	margin-top: 1.4em;
	@include webfontBold;

	em {
		@include webfontBoldItalic;
	}
}
h1, h2, h3,
.hed-h3 {
	text-transform: uppercase;
}
.cased {
	text-transform: none;
}
.upper {
	text-transform: uppercase;
}
h1 {
	color: #222;
	font-size: 1.421052631579em; /* 27px /19 */
	line-height: 110%;
}
h1:first-child {
	margin-top: 0;
}
@media (max-width: $oneColLayoutMaxWidth) {
	.header h1 {
		padding: 0 0 0 .15625em; /* 5px */
	}
}
@media (min-width: 30em) {
	h1 {
		font-size: 2em; /* 38px /19 */
	}
}
h2 {
	font-size: 1.421052631579em; /* 27px /19 */
	padding: 0 .227272727em; /* 0 5px */
}
.content-main h2 {
	margin-top: 3em;
	padding: 0 0 .5em 0;
	border-bottom: 1px solid #e9e9e9;
}
.content-main .slide h2 {
	margin-top: .5em;
	border-bottom: none;
}
@media (min-width: 30em) {
	h2 {
		font-size: 1.789473684211em; /* 34px /19 */
	}
}
h3,
.hed-h3 {
	font-size: 1.157894736842em; /* 22px /19 */
}
h3 {
	margin-top: 2em;
}
h3 + p {
	margin-top: 0;
}
h4,
h5 {
	font-size: 1em;
	margin-bottom: .5em;
}
@media (min-width: $twoColLayoutMinWidth) {
	h1, h2 {
		padding: 0;
	}
}

.primary-title {
	font-size: 2.3em;
	line-height: 1;
	font-variation-settings: "wdth" 96, "TYTE" -80, "NOTC" 1;
	font-weight: 900;
	margin: 0 0 .5em;
}
.primary-title code {
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
@media (min-width: $twoColLayoutMinWidth) {
	.primary-title {
		font-size: 3.5em;
		font-size: clamp(2.95652173913em, calc(-0.61913043em + 8.39vw), 5.2173913em); /* 68px 120px /23 */
	}
}

/* Hyphenation */
.primary-title {
	@include unhyphenate;
}
.primary-title .long-word {
	@include hyphenate;
}
@media (min-width: 40em) {
	.primary-title .long-word {
		@include unhyphenate;
	}
}

/* Code */
code {
	font-family: $monospaceFont;
	font-size: .947368421em; /* 18px / 19px */
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	background-color: #e9e9e9;
	padding: .2em .2em .1em;
	margin: 0 .25em 0 .1em;
	color: #444;

	@include extraunhyphenate;

	/* Disable ligatures */
	font-variant-ligatures: no-common-ligatures;
	font-feature-settings: 'liga' 0, 'clig' 0;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
pre > code,
a[href] > code {
	background-color: transparent;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
	text-transform: none;
}
a[href] > code {
	padding-left: 0;
	padding-right: 0;
	color: inherit;
}
pre {
	font-family: $monospaceFont;
	font-size: 0.8125rem; /* 13px /16 */
	line-height: 160%;
	padding: .75rem 0; /* padding added by syntax-line-highlight plugin */
	margin: .5em -0.25rem; /* -4px /16 */
	background: #272822;
	color: #f8f8f2;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;

	@include extraunhyphenate;

	/* Disable ligatures */
	font-variant-ligatures: no-common-ligatures;
	font-feature-settings: 'liga' 0, 'clig' 0;
}
pre {
	padding: .75rem;
}
pre > code {
	font-size: .9375rem;
	line-height: 160%;
	padding: 0;
	margin: 0;
	background-color: #272822;
	color: #f8f8f2;
}
@media (min-width: 60em) { /* 980px */
	pre {
		border-radius: 0.6153846153846em; /* 8px /13 */
	}
	.livedemo pre {
		border-radius: 0;
	}
}

pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}
@media (min-width: 34.375em) { /* 550px */
	pre {
		tab-size: 3;
	}
}
@media (min-width: 48em) { /* 768px */
	pre {
		tab-size: 4;
	}
}

/* Quotes */
blockquote {
	font-style: italic;
	color: #777;
	margin: 1.2em 5%;
}
blockquote > p:first-child {
	margin-top: 0;
}
blockquote > p:last-child {
	margin-bottom: 0;
}


/* Paragraphs */

/* Tables */
table {
	border-collapse: collapse;
	min-width: 100%;
}
tr {
	border-bottom: 1px solid #ddd;
}
th {
	@include webfontBold;
}
caption {
	margin-top: 1.5em;
	border-bottom: 3px double #999;
	padding-bottom: .6em;
}
td,
th {
	font-size: 0.625em; /* 10px /16 */
	padding: 0.3em; /* 3px /10 */
	vertical-align: top;
}
td.numeric,
th.numeric {
	text-align: right;
}
@media ( min-width: 25em ) {
	td, th {
		font-size: .8125em;
	}
}


/* Logo and Rail */
.rail .header {
	display: block;
	margin-bottom: .25em;
	text-decoration: none;
}
.rail h1 {
	font-size: 1.4em;
	display: inline-block;
	margin: 0 0 .1em 0;
	vertical-align: bottom;
	font-family: Hex Franklin Tight, -apple-system, system-ui, sans-serif;
	font-variation-settings: "wdth" 100, "TYTE" -50, "NOTC" 0;
	font-weight: 900;
	line-height: 1;
	color: #444;

	@media (max-width: $oneColLayoutMaxWidth) {
		text-align: center;
	}
}
.rail .my-avatar {
	width: 1.1875em; /* 19px /16 */
	height: 1.1875em; /* 19px /16 */
	margin-right: .5em;
	background-color: $primaryColor;
	color: transparent;
	margin-bottom: -2px;
}
.rail .navigation {
	margin: 0;
}
@supports (display: grid) {
	@media (min-width: $twoColLayoutMinWidth) {
		.rail .header {
			@include clearfix;
		}
		.rail .my-avatar {
			width: 2.75em; /* 44px /16 */
			height: 2.75em; /* 44px /16 */
			float: left;
			margin-right: 0.75em; /* 12px /16 */
		}
		.rail h1 {
			float: left;
			width: 160px;
		}
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
.posts li {
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 6px;
}
.posts .posts-link {
	display: inline;
	padding: 0;
	margin-right: 6px;
	font-size: 1.368421052632em; /* 26px /19 */
	line-height: 110%;
	text-decoration: none;

	@include unhyphenate;
}
.posts .posts-link-more {
	text-decoration: underline;
}
@supports (text-decoration-skip-ink: auto) {
	.posts .posts-link:hover,
	.posts .posts-link:focus,
	.posts .posts-link:active {
		text-decoration: underline;
	}
}
.posts .subhed {
	padding: 0;
	line-height: 140%;
	margin-top: 2em;
	margin-bottom: 4px;
	border-bottom: 1px dotted #999;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subhed-count {
	font-size: 70%;
	color: #555;
}
.posts .subhed:first-child {
	margin-top: 0;
}
.posts img,
.posts video,
.posts .description {
	margin: .5em 0;
}
.posts .description {
	padding-left: 24px;
}
.posts img {
	display: block;
}
.posts .description {
	margin-top: .210526316em; /* 4px /19 */
	color: #333;
	@include webfontItalic;
}
.posts .smalltitle .posts-link {
	font-size: 23px;
}
.project_img,
.project_video {
	width: 100%;
	max-width: 28.125rem;
	border: 1px solid #fff;
	border-radius: .3em;
	transition: .25s box-shadow;
	box-shadow: 0 6px 26px 4px rgba(0, 0, 0, .4);
}
.project_img {
	transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}
a[href]:hover .project_img {
	transform: scale(1.04);
	box-shadow: 0 0 0 6px rgba(0, 0, 0, .8);
}
@supports (box-shadow: none) {
	a[href]:focus .project_img {
		box-shadow: 0 0 0 6px rgba(0, 0, 0, .8);
	}
	.posts-withimg .posts-link:focus {
		outline: none;
	}
}
.posts .project_img,
.posts .project_video {
	margin-bottom: 1em;
}
@supports (object-fit: cover) {
	.project_img,
	.project_video {
		max-height: 13.4375rem;
		object-fit: cover;
		object-position: top;
	}
}
.layout-list p + ol.posts {
	margin-top: 3em;
}
@media (min-width: 30em) {
	.layout-list h1.posts-indent {
		padding-left: 55px;
	}
	.posts .subhed {
		margin-top: 3em;
	}
	.posts .smalltitle .posts-link {
		font-size: 1.375em; /* 22px */
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.posts .subhed:first-child {
		margin-top: 18px;
	}
}
.posts .date {
	@include a11y-only;
}
.posts .deprecated,
.posts .deprecated :link,
.posts .deprecated :visited {
	color: #666;
}
.posts .deprecated,
.posts .deprecated :link {
	font-size: 1.25rem; /* 20px /16 */
}
.posts .deprecated .tags {
	display: none;
}

.posts-withimg {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}
.posts-withimg > * {
	flex-grow: 1;
	flex-basis: 14em;
}

.sub {
	margin-top: 0;
	font-size: 0.7368421052632em; /* 14px /19 */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	line-height: 1.5;
	min-height: 2.285714285714em; /* 32px /14 */
}
@media (min-width: $twoColLayoutMinWidth) {
	.sub {
		margin-bottom: 5.714285714286em; /* 80px /14 */
	}
	.sub + .sub {
		margin-top: -6.285714285714em; /* -88px /14 */
	}
}
.sub em:empty {
	display: none;
}
.sub em {
	color: #666;
}
@media (min-width: 26.5625em) { /* 425px */
	.sub {
		display: block;
	}
	.sub em {
		margin-right: 1em;
	}
}

.posts-paragraph {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 2em;
	@include webfontItalic;
	max-width: 50em; /* 800px */
}

@media (min-width: 30em) {
	/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
	.posts-count li {
		counter-increment: start-from -1;
	}
	.posts-count-forward {
		counter-reset: start-from;
	}
	.posts-count-forward li {
		counter-increment: start-from;
	}
	.posts-count .subhed,
	.posts-count .posts-count-exempt {
		counter-increment: none;
	}
	.posts-count .subhed,
	.posts-count li,
	.posts-indent,
	.posts-paragraph {
		padding-left: 55px;
	}
	.posts-paragraph {
		margin-right: 2em;
	}
	.posts-paragraph p {
		padding-left: 0;
		padding-right: 0;
	}
	.posts-count li:before {
		pointer-events: none;
		position: absolute;
		left: 8px;
		top: 20px;
		content: "№ " counter(start-from, decimal-leading-zero);
		color: #888;
		line-height: 100%;
		width: 3em;
		text-align: right;
		font-size: 13px;
		white-space: nowrap;
	}
	.posts-count .posts-count-exempt:before,
	.posts-count .subhed:before,
	.posts-count .upcoming:before {
		content: "";
	}
}
@media (min-width: 43.75em) {
	.posts-indent,
	.posts-paragraph {
		padding-right: 55px;
	}
}
@media (min-width: 50em) and (max-width: $oneColLayoutMaxWidth) {
	.posts-paragraph {
		max-width: 100%;
	}
}

/* About Me Link Block */
.about {
	margin: 5em 0;
	padding-top: 2em;
	border-top: 1px solid #eee;
	@include unhyphenate;
}
.about :first-child {
	text-align: center;
}
.about > a {
	display: block;
	text-decoration: none;
}
.about > a:hover,
.about > a:focus {
	color: #3b624a;
}
.about > a span {
	text-decoration: underline;
}
.about p {
	font-size: 16px;
	line-height: 1.8;
	@include webfontItalic;
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}
.my-avatar {
	border-radius: 15%;
}
.about .my-avatar {
	display: block;
	margin: 0 auto 1em;
	max-width: 130px;
}
.about .social {
	display: flex;
	justify-content: center;
	gap: 0 .5em;
	margin: 1.5em 0;
}
@media (min-width: 30em) {
	.about {
		display: flex;
		gap: 1em;
	}
	.about .my-avatar {
		flex: 0 0 80px;
	}
}

/* Footer */
.footer {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 1rem;
	line-height: 130%;
	@include webfontItalic;

	@media (min-width: $twoColLayoutMinWidth) {
		margin-top: 30vh;
	}
}

/* Tags */
.tags {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	margin-top: -10px;
	font-family: -apple-system, system-ui, sans-serif;
}
.tags:empty {
	display: none;
}
.tag-inline,
.tags .tag {
	font-size: 10.5px;
	line-height: 18px;
	height: auto;
	text-transform: uppercase;
	color: #666;
	padding: 4px;
	margin: 0 4px;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
}
.tag svg {
	vertical-align: middle;
}
a[href].tag-inline:not(.tag-borderless),
.tags a[href].tag:not(.tag-borderless) {
	border: 1px solid rgba(0, 0, 0, .08);
}
.tag-inline {
	font-size: 12px;
	margin-left: 0;
}
.tags .tag:first-child {
	margin-left: 0;
}
.tags .tag:last-child {
	margin-right: 0;
}
.tags .tag:visited {
	color: #666;
	text-decoration: none;
}
.tags .tag-borderless,
.tags .tag-borderless:visited {
	border-color: transparent;
	text-decoration: underline;
}
.tag-inline.tag-cased,
.tags .tag-cased {
	text-transform: none;
}
.tags .tag-event {
	text-decoration: none;
	text-transform: none;
}
.tags .tag.active,
.tags .tag.active:visited,
.tags a[href].tag:hover,
.tags a[href].tag:visited:hover {
	background-color: #444;
	color: #fff;
	border-color: #444;
}

.tags .tag.video,
.tags .tag.audio {
	text-transform: lowercase;
}
.tags .tag.tweet {
	color: #00c9ff;
}
.tags .highlight-label {
	@include a11y-only;
}
.tags .tag .highlight-star {
	font-family: sans-serif;
	font-size: 12px;
}
.tags .tag + .tag {
	margin-left: -6px;
}

.tags.tags-rail {
	white-space: normal;
	margin-top: .5em;

	@media (max-width: $oneColLayoutMaxWidth) {
		text-align: center;
		margin-left: -.5em;
		margin-right: -.5em;
	}
}
.tags.tags-rail .tag {
	margin-right: 0;
	margin-left: 1px;
	margin-bottom: 5px;

	@media (max-width: $oneColLayoutMaxWidth) {
		padding-left: 3px;
		padding-right: 3px;
		margin-left: 0;
	}
}

/* Top 5 Rail module */
.tags.tags-rail-top5 {
	display: none;
}
@supports (display: grid) {
	@media (min-width: $twoColLayoutMinWidth) and (min-height: 33.125em) {
		/* Top 5 posts */
		.tags.tags-rail-top5 {
			display: block;
		}
		.tags .top5 {
			font-size: 13px;
			margin-top: 4em;
			margin-bottom: .5em;
			color: #666;
			@include webfontBold;
		}
		.tags .tag.tag-popular-rail {
			text-transform: none;
			text-decoration: none;
			font-size: 12px;
			margin-top: 0.6153846153846em; /* 8px /13 */
			padding-left: 0;
			padding-right: 0;
			@include webfont;
		}
		.tags .tag.tag-popular-rail em {
			white-space: nowrap;
			color: #387731;
		}
		.tags .top5 a:hover,
		.tags a[href].tag.tag-popular-rail:hover {
			background-color: transparent;
			border-color: transparent;
			color: $linkActiveColor;
			text-decoration: underline;
		}
	}
}

/* External Links */
.external {
	text-transform: uppercase;
	font-size: 17px;
	color: #666;
	line-height: 100%;
	margin-right: .25em;
}
.posts .highlight a .external {
	@include webfont;
}
/*.external:after {
	content: ": ";
}*/
.icon-link-external {
	width: 14px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

/* Grids */
@supports ( display: grid ) {
	@media ( min-width: 31.25em /* 500px */ ) {
		.grid-3 {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 2%;
		}
	}
}

/* Live test cases */
.livedemo {
	--box-shadow-color: #add8e6;
	display: block;
	padding: .5rem .5rem 1rem .5rem;
	border: none;
	box-shadow: 0 0 0 var(--box-shadow-width, 2px) var(--box-shadow-color);
	position: relative;
	margin: .5rem -.25rem 1.5rem;

	@media (min-width: 38.25em) { /* 612px */
		border-radius: 8px;
		padding-left: .75rem;
		padding-right: .75rem;
		margin-left: -.75rem;
		margin-right: -.75rem;
	}
	@media (min-width: $twoColLayoutMinWidth) {
		padding: .875rem .875rem 1rem .875rem;
		margin-left: -.875rem;
		margin-right: -.875rem;
	}
}

/* Stay inside of the primarydemo boxes */
.content-main .livedemo > pre {
	margin-left: calc( -.5rem );
	width: calc( 100% + 1rem );
	max-width: none;

	@media (min-width: $twoColLayoutMinWidth) {
		margin-left: calc( -.875rem );
		width: calc( 100% + 1.75rem );
	}
}
pre + .livedemo {
	margin-top: 2rem;
}
.livedemo:after {
	content: "Demonstration";
	position: absolute;
	right: .5rem;
	bottom: -4px;
	font-size: .75rem;
	padding: 0 .25rem;
	line-height: 1;
	text-transform: uppercase;
	background: #fff;
	color: #8ac7db;
	@include webfont;
}
.livedemo-mixed:after {
	text-transform: none;
}
.livedemo.left:after {
	right: auto;
	left: .5rem;
}
.livedemo .livedemo {
	margin-right: -0.5rem;
	margin-left: -0.5rem;
	box-shadow: 0 0 0 2px #ddf0f6;
}
.livedemo .livedemo:last-child {
	margin-bottom: -0.4375rem; /* -7px /16 */
}
.livedemo[data-demo-label]:after {
	content: attr(data-demo-label);
}
.livedemo.top {
	padding-top: 1rem;
	padding-bottom: .75rem;
}
.livedemo.top:after {
	bottom: auto;
	top: -4px;
}
.livedemo p:first-child:last-child {
	margin-top: 0;
	margin-bottom: 0;
}
.livedemo.square-top {
	padding-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.livedemo.square-bottom {
	padding-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.livedemo-sm {
	font-size: 0.7826086956522em; /* 18px /23 */
	line-height: 165%;
}
@supports (resize: horizontal) {
	.livedemo-resizable {
		resize: horizontal;
		overflow: hidden;
		padding-bottom: 1.625rem; /* 26px /16 */

		&.top {
			padding-top: 1.625rem; /* 26px /16 */
			padding-bottom: .75rem;
		}
		&:after,
		&.top:after {
			content: "Demonstration: Resize Me!";
			padding: 0;
			bottom: .2rem;
			right: 1rem;
		}
	}
}
.livedemo + .caption {
	margin-top: -1rem;
	margin-bottom: 1rem;
}

/* Centered, not full width, usually for an image */
.livedemo-auto {
	--box-shadow-width: 6px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.livedemo-auto:after {
	font-size: 0.875rem; /* 14px /16 */
	bottom: 0;
}

/* No labels */
.livedemo-nolabel {
	padding: 0;
}
.livedemo-nolabel:after {
	display: none;
}
.livedemo-nolabel img {
	display: block;
}

/* Dark mode */
.livedemo-dark {
	background-color: #121a39;
	color: #fff;
}
.livedemo-dark:after {
	top: 8px;
	left: 8px;
	background-color: transparent;
	bottom: auto;
	right: auto;
	font-size: 0.695652173913em; /* 16px /23 */
}
.livedemo-dark code {
	background-color: inherit;
	color: inherit;
}

/* Evil mode */
.livedemo-evil {
	--box-shadow-color: #521454;
	background-color: hsl(290deg, 47%, 38%);
	color: #fff;
	font-style: italic;
	margin-top: 3em;
	margin-bottom: 2em;
}
.livedemo-evil:before,
.livedemo-evil:after {
	content: "😈😈😈";
	font-size: 1em;
	text-shadow: 0px 0px 1em var(--box-shadow-color);
	font-style: normal;
	background-color: transparent;
	position: absolute;
	top: -1em;
	left: 50%;
	bottom: auto;
	right: auto;
	transform: translateX(-50%);
	letter-spacing: .5em;
}
.livedemo-evil:after {
	bottom: -.7em;
	top: auto;
}
.livedemo-sm {
	font-size: 0.7142857142857em; /* 15px /21 */
	max-width: 26em;
	margin-left: auto;
	margin-right: auto;
}
.livedemo-evil .emoji {
	font-style: normal;
}

/* Flush */
.livedemo-flush {
	padding: 0;
}

.livedemo img:not(.z-avatar) {
	display: block;
}

/* Details Livedemo */
details.livedemo:after {
	display: none;
}
details.livedemo > summary {
	color: #8ac7db;
	font-size: 0.8695652173913em; /* 20px /23 */
	padding: .15em .5em;
	line-height: 1.5;
}
details.livedemo-dark > summary {
	color: #9fdaee;
}

/* Demo Link */
.primarylink {
	display: block;
	@include webfontBold;
	font-size: 1.157894736842em; /* 22px /19 */
}
.primarylink:before {
	content: "➡ ";
}
.primarylink-demo:after {
	content: " (Demo)";
	@include webfont;
}

/* Generic Nowrap */
.nowrap {
	white-space: nowrap;
}

.toc p:empty {
	display: none;
}

/* Table of Contents on Right */
@media (min-width: $twoColLayoutMinWidth) and (min-height: 33.125em) {
	.toc {
		font-size: 1rem;
		display: block;
		position: fixed;
		bottom: 1em;
		width: 13.5em;
		right: 3.5em;
	}
	.toc.toc .hed-h3,
	.toc.toc h2,
	.toc.toc h3 {
		font-size: .8125rem;
		border: none;
		margin: 0;
		padding: 0;
	}
	.toc.toc ul {
		list-style: none;
		padding-left: 0;
		font-size: .8125rem;
		margin-top: 0;
	}
	.toc.toc ul li {
		line-height: 1.5;
	}
}

/* Alignment */
.grid-2 {
	@include clearfix;
}
.grid-2 > :first-child {
	width: 48%;
	float: left;
}
.grid-2 > :last-child {
	width: 48%;
	float: right;
}

/* Orphan Wrap */
@media (min-width: 25em) { /* 400px */
	.prevent-orphan {
		white-space: nowrap;
	}
}

/* Subnote */
.notes-subnote {
	display: inline-block;
	font-size: 0.8125em; /* 13px /16 */
	line-height: 140%;
}
.notes-backlink {
	display: block;
	margin-top: 5em;
	margin-bottom: -3.5em;
}
.notes-hed {
	margin-bottom: 0;
}
.notes-content {
	max-height: 6em;
	overflow: hidden;
	position: relative;
}
.notes-content-link {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-indent: -9999px;
	text-decoration: none !important;
	background-image: none !important;
}
.notes-content:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 6em;
	background-image: linear-gradient(to bottom, transparent, #fff);
}
.notes-content-link:first-child + * {
	margin-top: .5em;
}

/* Lazy loading images */
.img-error {
	background-color: #afa;
	opacity: .1;
}
.img-error img {
	color: transparent;
}

/* Filtering select element */
.filter-posts-form {
	display: flex;
	flex-wrap: wrap;
	opacity: .4;
	pointer-events: none;
	margin-bottom: 1em;
}
.filter-container--js .filter-posts-form {
	opacity: 1;
	pointer-events: auto;
}
select[data-filter-key] {
	font-size: inherit;
	color: inherit;
	background: inherit;
	border-radius: .25em;
}

/* Post background images with gradient overlays */
@media (min-width: $twoColLayoutMinWidth) {
	.body-hasbgimage:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 100vh;
		max-height: 54em;
		z-index: -1;
		overflow: hidden;
		background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .9), rgba(255, 255, 255, 1) 45%), var(--seo-bgimage);
		background-position: top;
		background-size: 100% 100%, 100% auto;
		background-repeat: no-repeat;
	}
}

/* Share image preview */
.share-img {
	max-width: 21.73913043478em; /* 500px /23 */
	border-radius: 0.3913043478261em; /* 9px /23 */
	background-color: #999;
}

/* Sparkline */
.spark {
	display: flex;
	gap: .5em;
	align-items: center;
	font-size: 0.875em; /* 14px /16 */
	text-decoration: none;
	text-transform: none;
}
.rail .spark {
	margin-top: 1em;
	@include webfontBold;
}
.spark .spark-img {
	padding: 0;
	margin: 0;
}

/* External Link Favicons */
/* This is for wider application of a few use cases. It’s better to use the indieAvatar shortcode for one-off instances */
a[href].favicon:before,
.favicon-optin a[href^="https://www.npmjs.com"]:not(.favicon-optout):before,
.favicon-optin a[href^="https://github.com"]:not(.favicon-optout):before {
	content: "";
	display: inline-block;
	vertical-align: text-bottom;
	width: 1em;
	height: 1em;
	margin: 0 .2em;
	background-size: contain;
}
.favicon-optin a[href^="https://github.com"]:not(.favicon-optout):before {
	background-image: url("https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fgithub.com%2F/");
}
.favicon-optin a[href^="https://www.npmjs.com"]:not(.favicon-optout):before {
	background-image: url("https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.npmjs.com%2F/");
}
.favicon-optin a[href^="https://fediverse.zachleat.com"]:not(.favicon-optout):after,
.favicon-optin a[href^="https://fosstodon.org"]:not(.favicon-optout):after,
.favicon-optin a[href^="/twitter/"]:not(.favicon-optout):after,
.favicon-optin a[href^="https://www.zachleat.com/twitter/"]:not(.favicon-optout):after {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: .6em;
	height: .6em;
	margin: 0 .15em;
	background-size: contain;
}
.favicon-optin a[href^="https://fediverse.zachleat.com"]:not(.favicon-optout):after,
.favicon-optin a[href^="https://fosstodon.org"]:not(.favicon-optout):after {
	background-image: url("https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fjoinmastodon.org%2F/");
}
.favicon-optin a[href^="/twitter/"]:not(.favicon-optout):after,
.favicon-optin a[href^="https://www.zachleat.com/twitter/"]:not(.favicon-optout):after {
	border-radius: .2em;
	background-image: url("https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Ftwitter.com%2F/");
}