---
title: Drafts
layout: default
tmpl: list
'override:tags': []
---

<div class="layout-list">
	<article>
		<h1 class="primary-title">{{ title }}</h1>
		<ol id="main-posts-list" class="posts">
			{% comment %}
				liquidjs doesn’t do hoisting the same, so we have to hoist these loop variables ourselves.
			{% endcomment %}
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% assign currentyearpostcount = 0 %}
			{% assign listItems = collections.draft %}
			{% for post in collections.draft %}
				{% include post-list-entry.html, ignoreYear: "true" %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.layout-list -->
