.browserlogo-android,
.browserlogo-android_16x16 {
	background-image: url('png/android_16x16.png');
}

.browserlogo-chrome,
.browserlogo-chrome_16x16 {
	background-image: url('png/chrome_16x16.png');
}

.browserlogo-edge-tile,
.browserlogo-edge-tile_16x16 {
	background-image: url('png/edge-tile_16x16.png');
}

.browserlogo-edge,
.browserlogo-edge_16x16 {
	background-image: url('png/edge_16x16.png');
}

.browserlogo-firefox,
.browserlogo-firefox_16x16 {
	background-image: url('png/firefox_16x16.png');
}

.browserlogo-internet-explorer-tile,
.browserlogo-internet-explorer-tile_16x16 {
	background-image: url('png/internet-explorer-tile_16x16.png');
}

.browserlogo-internet-explorer,
.browserlogo-internet-explorer_16x16 {
	background-image: url('png/internet-explorer_16x16.png');
}

.browserlogo-opera-mini,
.browserlogo-opera-mini_16x16 {
	background-image: url('png/opera-mini_16x16.png');
}

.browserlogo-opera,
.browserlogo-opera_16x16 {
	background-image: url('png/opera_16x16.png');
}

.browserlogo-safari-ios,
.browserlogo-safari-ios_16x16 {
	background-image: url('png/safari-ios_16x16.png');
}

.browserlogo-safari,
.browserlogo-safari_16x16 {
	background-image: url('png/safari_16x16.png');
}

