/* Call to Action and Deprecation Warning */
.deprecation-warning {
	font-size: 1.125em;
	line-height: 140%;
	background: #ffc;
	border: 1px solid #ccc;
	padding: .5em;
	margin-top: 1em;
}
.deprecation-warning h3 {
	display: inline;
	line-height: 2;
	margin-right: .6em;
}
.deprecation-warning h3:after {
	content: ':';
}
.deprecation-warning p {
	@include webfontItalic;
	margin: 0;
}
