/* Call to Action and Deprecation Warning */
.callout {
	font-size: 1.125em;
	line-height: 140%;
	padding: .5em;
	margin-top: 1em;
	border-radius: 5px;
	box-shadow: 0 0 0 2px #ccc;
}
.callout h3 {
	display: inline;
	line-height: 2;
	margin-right: .6em;
}
.callout h3:after {
	content: ':';
}
.callout p {
	@include webfontItalic;
	margin: 0;
}
.callout-warning {
	background-color: #ffc;
}