@import "config";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a11y-only {
	@include a11y-only;
}
img {
	max-width: 100%;
	border: none;
}

/* Border */
html {
	background-color: $borderColor;
}

/* Layout */
.rail {
	text-align: center;
	padding: 3em 1em 1em;
}
.content {
	text-align: left;
	padding: 0;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	color: $textColor;
	font-size: 1.1875em;
	line-height: 165%;
}

@media (min-width: 42em) {
	.content ol,
	.content ul {
		padding-left: 0;
	}
	.content ol li,
	.content ul li {
		padding-left: .3em;
		margin-left: -.3em;
	}
}

.has-gradient.tmpl-page .content a {
	text-decoration: none;
	background-image: -webkit-linear-gradient(top, currentColor 75%, currentColor 75%);
	background-image: linear-gradient(to bottom, currentColor 75%, currentColor 75%);
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: 0 97%;
}
.has-gradient.tmpl-page .content h2 a,
.has-gradient.tmpl-page .content h3 a,
.has-gradient.tmpl-page .content h4 a {
	background-position: 0 88%;
}
.maxwidth,
.maxwidth-list {
	padding: 0 .75em; /* 12px */
	margin: 0 auto;
}
.maxwidth {
	max-width: 31em;
}
.maxwidth-list {
	max-width: 42em;
}

@media (min-width: $twoColLayoutMinWidth) {
	.rail {
		text-align: left;
		position: absolute;
		right: 0;
		top: 0;
		width: 18em;
		padding: 5em 3em 0 0;
	}
	.content {
		padding: 2em 0;
		margin-right: 17em;
		position: relative;
		min-height: 32em;
	}
}
@media (min-width: $twoColLayoutMinWidth) and (min-height: 30em) {
	.rail {
		position: fixed;
	}
}

/* App specific */
body {
	font-family: $sansSerifFont;
	padding: 0;
	margin: 0;
	background-color: $backgroundColor;
	font-size: 100%;
	line-height: 140%;
}
.lato-loaded body {
	font-family: Lato, $sansSerifFont;
}
:link {
	color: #67a281;
}
:visited {
	color: #3c624b;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: #d94625;
}
.lato-b-loaded strong {
	font-family: LatoBold;
}
.lato-b-loaded em,
.lato-b-loaded blockquote {
	font-family: LatoItalic;
}
.lato-b-loaded strong em,
.lato-b-loaded strong blockquote,
.lato-b-loaded em strong,
.lato-b-loaded blockquote strong {
	font-family: LatoBoldItalic;
}
h1, h2, h3, h4, h5 {
	margin-top: 1.4em;
	text-transform: uppercase;
}
.lato-b-loaded h1,
.lato-b-loaded h2,
.lato-b-loaded h3,
.lato-b-loaded h4,
.lato-b-loaded h5 {
	font-family: LatoBold;
}
h1 {
	color: #222;
	font-size: 1.7em; /* 27px */
	line-height: 110%;
	padding: 0 .15625em; /* 0 5px */
}
h1:first-child {
	margin-top: 0;
}
@media (min-width: 30em) {
	h1 {
		font-size: 2em;
	}
}
.content h1.smalltitle {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
@media (min-width: 40em) {
	.content h1.smalltitle {
		-ms-word-break: normal;
		word-break: normal;
		word-break: normal;
		-webkit-hyphens: manual;
		-moz-hyphens: manual;
		hyphens: manual;
	}
}
h2 {
	font-size: 1.375em; /* 22px */
	padding: 0 .227272727em; /* 0 5px */
}
.maxwidth h1,
.maxwidth h2 {
	padding: 0;
}
code {
	font-family: $monospaceFont;
	font-size: .947368421em; /* 18px / 19px */
	line-height: 100%;
}
pre {
	font-size: .8125em;
	line-height: 160%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
@media (min-width: $twoColLayoutMinWidth) {
	h1 {
		font-size: 2.375em; /* 38px */
	}
	h1, h2 {
		padding: 0;
	}
	pre {
		font-size: 1em;
	}
}
blockquote {
	font-style: italic;
	color: $blockquoteColor;
	margin: 1.2em 5% 1.8em;
}

table {
	border-collapse: collapse;
	font-size: .8125em;
}
tr {
	border-bottom: 1px solid #ddd;
}
td,
th {
	padding: .4em .4em;
}
th {
	vertical-align: top;
}

/* Compatibility Tables */
td.yes { background-color: #00882D; color: #fff; }
td.no { background-color: #CB000F; color: #fff; }
td.emulate { background-color: #40A662; color: #fff; }

/* Logo and Rail */
.rail a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
}
.rail h1 {
	font-size: 1.4em;
	font-weight: 400;
	display: inline-block;
	color: #aaa;
	width: 8em;
	text-align: left;
	margin: 0 0 .1em 0;
	vertical-align: bottom;
}
.lato-loaded .rail h1 {
	font-family: Lato;
}
.rail img {
	width: 80px;
	height: 80px;
	margin-right: .5em;
	border-radius: 0 50%;
}
.rail .navigation {
	margin: 2em 0;
}
@media (min-width: $twoColLayoutMinWidth) {
	.rail a.header {
		text-align: right;
	}
	.rail img {
		margin-right: 0;
	}
	.rail:hover img {
		transition: 1s border-radius;
		border-radius: 50% 0;
	}
	.rail h1 {
		margin-top: .3em;
		text-align: right;
	}
}

/* Header Links */
.links {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
	padding-top: .8em;
}
.links a {
	display: inline-block;
	margin-top: .4em;
	padding: .4em .8em;
}
.links a,
.links :visited {
	color: #aaa;
}
.links a:hover,
.links a:focus {
	color: #000;
}
.links-sub {
	display: none;
}
@media (min-width: 30em) {
	.links {
		font-size: .875em;
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.links {
		padding-top: 2em;
		text-align: left;
	}
	.links a {
		display: block;
		padding-left: 0;
		padding-right: 0;
		text-align: right;
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
.posts li {
	position: relative;
}
.posts-count li {
	counter-increment:start-from -1;
}
.posts a {
	display: block;
	padding: .636363636em 0; /* 14px 8px */
	font-size: 1.375em; /* 22px */
	line-height: 110%;
	text-decoration: none;
}
.posts .smalltitle a {
	font-size: 1.157894737em; /* calc:23px/19px */
}
@media (min-width: 30em) {
	.posts a {
		padding-left: .363636364em; /* 8px */
		padding-right: .363636364em; /* 8px */
	}
	.posts .smalltitle a {
		font-size: 1.375em; /* 22px */
	}
}
.posts-count li:after {
	font-family: $monospaceFont;
	font-weight: 400;
}
.posts .date {
	color: #aaa;
	font-size: .5909em; /* 13px */
	vertical-align: middle;
	padding-right: .5em;
	white-space: nowrap;
}
.posts .tag + .date {
	position: relative;
	top: -1px;
}
.posts .deprecated,
.posts .deprecated .date,
.posts .deprecated:after,
.posts .deprecated :link,
.posts .deprecated :visited {
	color: #ddd;
}
.sub em {
	margin-right: 1em;
	color: #888;
	display: block;
}
.sub em:before {
	content: '—';
}

@media (min-width: 30em) {
	.sub em {
		display: inline;
	}

	.posts a {
		padding-left: .5em;
		padding-right: 4em;
	}
	.posts-count li:after {
		pointer-events: none;
		position: absolute;
		right: .7em;
		top: 0;
		content: "#" counter(start-from) "";
		color: #ccc;
		font-size: .625em; /* 10px */
	}
	.posts .date,
	.posts .tag + .date {
		position: absolute;
		right: 0;
		top: 1.2em;
	}
}

/* Next and Previous Links */
.pagination {
	margin: 2em 0;
	overflow: hidden;
}
.has-gradient.tmpl-page .content .pagination a {
	background-image: none;
	text-shadow: none;
}
.previous-post,
.next-post {
	display: block;
	width: 50%;
	position: relative;
	line-height: 130%;
	padding: 1em .4em;
	font-size: .842105263em; /* 16px */
	border: 1px solid transparent;
	text-decoration: none;
}
.previous-post:hover,
.previous-post:focus,
.next-post:hover,
.next-post:focus {
	background-color: #f6f6f6;
	border-color: #ccc;
}
.previous-post {
	text-align: left;
	float: left;
	padding-left: 1.2em;
}
.next-post {
	text-align: right;
	float: right;
	padding-right: 1.2em;
}
.previous-post:before,
.next-post:after {
	color: #aaa;
	position: absolute;
	top: 1em;
}
.previous-post:before {
	content: "« ";
	left: .4em;
}
.next-post:after {
	content: " »";
	right: .4em;
}
.previous-post:hover:before,
.previous-post:focus:before,
.next-post:hover:after,
.next-post:focus:after {
	color: inherit;
}


/* Call to Action and Deprecation Warning */
.action,
.deprecation-warning {
	font-size: 1.125em;
	margin-top: 3em;
	line-height: 140%;
	background: #ffc;
	border: 1px solid #ccc;
	padding: .5em;
}
.twitter-follow + .action {
	margin-top: 1em;
}
.action p:first-child {
	margin-top: 0;
}
.action p {
	margin: .5em 0 0 0;
	text-align: center;
}
.action a {
	white-space: nowrap;
	text-decoration: none;
	font-weight: 700;
}
.has-gradient.tmpl-page .content .action a {
	background-image: none;
	text-shadow: none;
}
.action a i {
	vertical-align: text-bottom;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: .2em;
}
.action a.twitter,
.action a.twitter:visited {
	color: #00c9ff;
}
.action a.github,
.action a.github:visited {
	color: #000;
}
.action a.feed,
.action a.feed:visited {
	color: #ff9132;
}

.deprecation-warning {
	margin-top: 1em;
}
.deprecation-warning h3 {
	display: run-in;
	margin-right: .6em;
}
.deprecation-warning h3:after {
	content: ':';
}
.deprecation-warning p {
	font-style: italic;
	margin: 0;
}

/* About Me Link Block */
.about {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	margin-top: 1em;
	font-size: .875em;
	line-height: 160%;
}
.about > a {
	display: block;
	text-decoration: none;
}
.about > a:hover,
.about > a:focus {
	color: #3b624a;
}
.about > a span {
	text-decoration: underline;
}
.about p {
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}
.about img {
	float: left;
	width: 80px;
	margin: 0 1em 1em 0;
}

/* Footer */
.footer {
	margin-top: 2em;
	padding: .666666667em; /* 8px */
	font-family: $serifFont;
	font-style: italic;
	font-size: .75em; /* 12px */
	line-height: 120%;
}
.maxwidth .footer {
	padding-left: 0;
	padding-right: 0;
}

/* Filter Menu */
.post-filter {
	display: none;
	font-size: .75em; /* 12px */
	padding: 0 .666666667em; /* 0 8px */
	margin-top: 2em;
}
.enhanced-js .post-filter {
	display: block;
}
.posts.deprecated .deprecated,
.posts.highlighted li {
	@include a11y-only;
}
.posts.highlighted .highlight {
	@include undo-a11y-only(relative);
}
.posts .highlight a {
	font-weight: 700;
}
.lato-b-loaded .posts .highlight a {
	font-family: LatoBold;
	font-weight: 400;
}
.posts .highlight .date:after {
	content: " ★";
}
@media (min-width: 30em) {
	.posts .highlight .date:before {
		content: "★ ";
	}
	.posts .highlight .date:after {
		content: "";
	}
}


/* Tags */
.tag {
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	background: #999;
	color: #fff;
	padding: .2em .4em;
	margin: 0 .5em;
	vertical-align: middle;
	white-space: nowrap;
}
.tag.video .length,
.tag.audio .length {
	text-transform: none;
}
/* orangered, steelblue */
.tag.video,
.tag.audio {
	background: cadetblue;
}
.tag.project {
	background: indianred;
}
.tag.research {
	background: mediumpurple;
}
.tag.tweet {
	background: #00c9ff;
}

/* Icons */
.icon-link-external {
	width: 14px;
	height: 16px;
	display: inline-block;
}

@font-face {
	font-family: Lato;
	src: url('/web/css/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
			 url('/web/css/fonts/lato/lato-regular-webfont.woff') format('woff'),
			 url('/web/css/fonts/lato/lato-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: LatoBold;
	src: url('/web/css/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
			 url('/web/css/fonts/lato/lato-bold-webfont.woff') format('woff'),
			 url('/web/css/fonts/lato/lato-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: LatoItalic;
	src: url('/web/css/fonts/lato/lato-italic-webfont.woff2') format('woff2'),
			 url('/web/css/fonts/lato/lato-italic-webfont.woff') format('woff'),
			 url('/web/css/fonts/lato/lato-italic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: LatoBoldItalic;
	src: url('/web/css/fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
			 url('/web/css/fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
			 url('/web/css/fonts/lato/lato-bolditalic-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}