* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a11y-only {
	@include a11y-only;
}
.enhanced-only {
	display: none;
}
.enhanced-js .enhanced-only {
	display: block;
}
img {
	max-width: 100%;
	border: none;
}

/* Word Break */
.break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
.break-hyphen {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* Border */
html {
	background-color: $borderColor;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Post Addendum Notes */
.notes {
	font-size: .75em;
	line-height: 1.6;
}
.notes_link:target,
.notes_note:target {
	background-color: #ffc;
}
.notes_link {
	position: relative;
	top: -.7em;
	font-size: .6875em;
}

/* Iframe */
.iframer {
	position: relative;
	width: 100%;
	min-height: 12em;
	height: 50vh;
	border: 1px solid rgba(0, 0, 0, .05);
}
.iframe-cover,
.iframe-big {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.iframe-cover {
	background-color: rgba(255, 255, 255, .4);
	z-index: 10;
}
.iframe-big {
	border: none;
}

figure {
	margin: 0;
}
figcaption {
	font-size: .75em;
	font-style: italic;
	margin-top: .2em;
	margin-bottom: 4em;
	line-height: 150%;
	@include webfontItalic;
}

/* Layout */
.rail {
	text-align: center;
	padding: 3em 1em 1em;
}
.content {
	text-align: left;
	padding: 0;
	background-color: #fff;
	color: $textColor;
	font-size: 1.1875em;
	line-height: 165%;
}
.content ol:not(.posts),
.content ul:not(.posts) {
	padding-left: 1.5em;
}
@media (min-width: 41.25em) {
	.content ol,
	.content ul {
		padding-left: 0;
	}
}
/* Full width images */
@supports (display: block) {
	@media (max-width: 36.75em) {
		.content img.primary,
		.content .fullwidth {
			margin-left: -.75em;
			margin-right: -.75em;
			max-width: none;
			width: 100vw;
		}
	}
	@media (min-width: 36.8125em) and (max-width: $oneColLayoutMaxWidth) {
		.content img.primary,
		.content .fullwidth {
			margin-left: calc( -1 * ( 100vw - 29.5em ) / 2 );
			max-width: none;
			width: calc( 100vw );
		}
	}
	@media (min-width: $twoColLayoutMinWidth) {
		.content img.primary,
		.content .fullwidth {
			// Add in rail
			margin-left: calc( -1 * ( 100vw - 17em - 29.5em ) / 2 );
			max-width: 58.125rem;
			width: calc( 100vw - 17em );
		}
	}
}
@media (min-width: 78.3125em) {
	.content img.primary,
	.content .fullwidth {
		// Add in rail
		margin-left: -184.75px;
		max-width: none;
		width: 930px;
	}
}

#main-posts-list {
	padding-left: 0;
}

.has-gradient.tmpl-page .content a {
	text-decoration: none;
	background-image: -webkit-linear-gradient(top, currentColor 75%, currentColor 75%);
	background-image: linear-gradient(to bottom, currentColor 75%, currentColor 75%);
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: 0 97%;
}
.has-gradient.tmpl-page .content a.exempt {
	background-image: none;
	text-decoration: underline;
	text-shadow: none;
}
.maxwidth,
.maxwidth-list {
	padding: 0 .75em; /* 12px */
	margin: 0 auto;
}
.maxwidth {
	max-width: 31em;
}
.maxwidth-list {
	max-width: 45em;
}

@media (min-width: $twoColLayoutMinWidth) {
	.rail {
		text-align: left;
		position: absolute;
		right: 0;
		top: 0;
		width: 17em;
		padding: 4em 4em 0 0;
	}
	.content {
		padding: 2em 0;
		margin-right: 15em;
		position: relative;
		min-height: 36em;
	}
}
@media (min-width: $twoColLayoutMinWidth) and (min-height: 34.375em) {
	.rail {
		position: fixed;
	}
}

/* App specific */
body {
	font-family: $sansSerifFont;
	padding: 0;
	margin: 0;
	background-color: $backgroundColor;
	font-size: 100%;
	line-height: 140%;
	font-size-adjust: .51;
	@include webfont;
}
.webfont-stage-1 body {
	font-size-adjust: none;
}
:link {
	color: #467259;
}
:visited {
	color: #304f3e;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: #d94625;
}
strong {
	@include webfontBold;
}
em,
blockquote {
	@include webfontItalic;
}
strong em,
strong blockquote,
em strong,
blockquote strong {
	@include webfontBoldItalic;
}
h1, h2, h3, h4, h5 {
	margin-top: 1.4em;
	text-transform: uppercase;
	@include webfontBold;
}
h1 {
	color: #222;
	font-size: 1.7em; /* 27px */
	line-height: 110%;
	padding: 0 .15625em; /* 0 5px */
}
h1:first-child {
	margin-top: 0;
}
@media (min-width: 30em) {
	h1 {
		font-size: 2em;
	}
}
.content h1.smalltitle {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
@media (min-width: 40em) {
	.content h1.smalltitle {
		-ms-word-break: normal;
		word-break: normal;
		word-break: normal;
		-webkit-hyphens: manual;
		-moz-hyphens: manual;
		hyphens: manual;
	}
}
h2,
.demo {
	font-size: 1.375em; /* 22px */
	padding: 0 .227272727em; /* 0 5px */
}
.maxwidth h1,
.maxwidth h2 {
	padding: 0;
}
.maxwidth h2 {
	margin-top: 3em;
	padding-bottom: .5em;
	border-bottom: 1px solid #e9e9e9;
}
code {
	font-family: $monospaceFont;
	font-size: .947368421em; /* 18px / 19px */
	line-height: 100%;
	background-color: #e9e9e9;
	padding: .2em .2em .1em;
	margin: 0 0.1em;
	color: #444;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
pre > code,
a[href] > code {
	background-color: transparent;
}
a[href] > code {
	padding-left: 0;
	padding-right: 0;
	color: inherit;
}
pre {
	font-family: $monospaceFont;
	font-size: .8125em;
	line-height: 160%;
	padding: .5em 1em;
	background-color: #f4f4f4;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	tab-size: 4;
}
@media (min-width: $twoColLayoutMinWidth) {
	h1 {
		font-size: 2.375em; /* 38px */
	}
	h1, h2 {
		padding: 0;
	}
}
blockquote {
	font-style: italic;
	color: $blockquoteColor;
	margin: 1.2em 5%;
}

table {
	border-collapse: collapse;
}
tr {
	border-bottom: 1px solid #ddd;
}
caption {
	margin-top: 1.5em;
	border-bottom: 3px double #999;
	padding-bottom: .6em;
}
td,
th {
	font-size: .8125em;
	padding: .4em;
	vertical-align: top;
}
@media ( max-width: 24.9375em ) {
	td, th {
		font-size: .625em;
	}
}


/* Logo and Rail */
.rail a {
	display: inline-block;
	text-decoration: none;
}
.rail .header {
	margin-bottom: .75em;
}
.rail h1 {
	font-size: 1.4em;
	display: inline-block;
	width: 8em;
	text-align: left;
	margin: 0 0 .1em 0;
	vertical-align: bottom;
	@include webfontBold;
}
.rail img {
	width: 80px;
	height: 80px;
	margin-right: .5em;
	border-radius: 0 50%;
	background-color: $primaryColor;
	color: transparent;
}
.rail .navigation {
	margin: .25em 0 1em;
}
.rail .header .links {
	margin-top: 1em;
}
.header_home {
	display: none;
}
@media (min-width: $twoColLayoutMinWidth) {
	.rail a.header {
		text-align: right;
		margin-bottom: 0;
	}
	.rail img {
		margin-right: 0;
	}
	.rail:hover img {
		transition: 1s border-radius;
		border-radius: 50% 0;
	}
	.rail h1 {
		margin-top: .3em;
		text-align: right;
	}
	.rail .navigation {
		margin-top: .625em;
	}
	.header_home {
		display: block;
	}
}

/* Header Links */
.links {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
}
.conference {
	@include webfontBold;
	margin-top: 2em;
	margin-left: -1em;
	margin-right: -1em;
	background-color: #444;
}
.conference a {
	display: block;
	font-size: 1.375em;
	color: #fff;
	padding: .5em 1em;
}
.links a {
	display: inline-block;
	margin-top: .4em;
	padding: .4em .8em;
}
.links-standalone,
.links a,
.links :visited {
	color: #222;
}
.links a:hover,
.links a:focus {
	color: #000;
}
.links-sub {
	display: none;
}
.links_cat {
	display: block;
}
@media (min-width: 30em) {
	.links-standalone,
	.links {
		font-size: .875em;
	}
}
@media (min-width: 39em) {
	.links_cat {
		display: inline-block;
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.links {
		text-align: left;
	}
	.conference {
		position: absolute;
		bottom: -4em;
		left: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-right: 4em;
		text-align: right;
	}
	.conference a {
		padding-right: 0;
	}
	.links-standalone,
	.links a {
		display: block;
		padding-left: 0;
		padding-right: 0;
		text-align: right;
	}
	.links_cat {
		display: block;
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
.posts li {
	position: relative;
}
.posts a {
	display: block;
	padding: 14px 0;
	font-size: 1.375em; /* 22px */
	line-height: 110%;
	text-decoration: none;
}
.posts .subhed {
	padding: 0;
	line-height: 140%;
	margin-top: 2em;
	border-bottom: 1px dotted #ccc;
	text-transform: uppercase;
}
.posts .subhed:first-child {
	margin-top: 0;
}
.posts img,
.posts .description {
	margin: .5em 0;
	padding-left: 24px;
}
.posts img {
	display: block;
}
.posts .description {
	font-size: .730769231em; /* 19x /26 */
	color: #333;
	@include webfontItalic;
}
.posts .smalltitle a {
	font-size: 23px;
}
.project_img {
	width: 100%;
	max-width: 28.125rem;
}
@media (min-width: 30em) {
	.posts a,
	.posts .subhed {
		padding-left: 13px;
		padding-right: 13px;
	}
	.posts .subhed {
		margin-top: 3em;
	}
	.posts .smalltitle a {
		font-size: 1.375em; /* 22px */
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.posts .subhed:first-child {
		margin-top: 18px;
	}
}
.posts .date {
	@include a11y-only;
}
.posts .deprecated,
.posts .deprecated :link,
.posts .deprecated :visited {
	opacity: .6;
}
.sub em {
	margin-right: 1em;
	color: #888;
	display: block;
}
.sub em:before {
	content: '—';
}

#about-index {
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	font-size-adjust: .47;
	margin-bottom: 2em;
	@include webfontItalic;
	max-width: 50em; /* 800px */
}
.webfont-stage-2 #about-index {
	font-size-adjust: none;
}

@media (min-width: 30em) {
	.sub em {
		display: inline;
	}
	.posts-count li {
		counter-increment: start-from -1;
	}
	.posts-count .subhed {
		counter-increment: none;
	}
	.posts-count .subhed,
	.posts-count li a,
	#about-index {
		padding-left: 55px;
	}
	#about-index {
		margin-right: 2em;
	}
	.posts-count li:before {
		pointer-events: none;
		position: absolute;
		left: 13px;
		top: 27px;
		content: "" counter(start-from) ". ";
		color: #888;
		line-height: 100%;
		width: 2.5em;
		text-align: right;
		font-size: .625em; /* 10px */
	}
	.posts-count .subhed:before,
	.posts-count .upcoming:before {
		content: "";
	}
}
@media (min-width: 43.75em) {
	#about-index {
		padding-right: 55px;
	}
}
@media (min-width: 50em) and (max-width: $oneColLayoutMaxWidth) {
	#about-index {
		max-width: 100%;
	}
}

/* About Me Link Block */
.about {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	margin-top: 1em;
	font-size: .875em;
	line-height: 160%;
}
.about > a {
	display: block;
	text-decoration: none;
}
.about > a:hover,
.about > a:focus {
	color: #3b624a;
}
.about > a span {
	text-decoration: underline;
}
.about p {
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}
.about img {
	float: left;
	width: 80px;
	margin: 0 1em 1em 0;
}

/* Footer */
.footer {
	margin-top: 2em;
	padding: .666666667em; /* 8px */
	font-family: $serifFont;
	font-style: italic;
	font-size: .75em; /* 12px */
	line-height: 120%;
}
.maxwidth .footer {
	padding-left: 0;
	padding-right: 0;
}

/* Filter Menu */
.post-filter {
	display: none;
	font-size: .75em; /* 12px */
	padding: 0 .666666667em; /* 0 8px */
	margin-top: 2em;
}
.enhanced-js .post-filter {
	display: block;
}
.enhanced-js .posts:not(.enhanced) .deprecated {
	@include a11y-only;
}
.posts.deprecated .deprecated,
.posts.highlighted li {
	@include a11y-only;
}
.posts.highlighted .highlight {
	@include undo-a11y-only(relative);
}

/* Tags */
.tag {
	border: 1px solid rgba(0, 0, 0, .08);
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	color: #666;
	padding: 0 .4em;
	margin: 0 .5em;
	vertical-align: middle;
	display: inline-block;

	@include webfontBold;
}
.tags {
	display: inline-block;
	white-space: nowrap;
	line-height: 1;
}
.tags:empty {
	display: none;
}
.tag.video .length,
.tag.audio .length {
	text-transform: none;
}
.tag.tweet {
	color: #00c9ff;
}
.tag.highlight {
	padding-left: .4em;
	font-family: sans-serif;
	border: none;
}
.tag + .tag {
	margin-left: -6px;
}

/* External Links */
.external {
	text-transform: uppercase;
	font-size: 17px;
	color: #666;
	line-height: 100%;
}
.posts .highlight a .external {
	@include webfont;
}
.external:after {
	content: ": ";
}
.icon-link-external {
	width: 14px;
	height: 16px;
	display: inline-block;
}

/* Printed Pages */
.printed-page {
	border: 1px solid #999;
	box-shadow: 4px 4px 0 #ddd;
	padding: 3em;
	font-size: 14px
}
.printed-page > img {
	display: block;
	max-width: 150px;
	margin: 0 auto 3em;
}
.printed-page .redacted {
	background-color: #000;
}
.printed-page pre {
	border-color: transparent;
	background-color: transparent;
}