.carousel {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.carousel > * {
  scroll-snap-align: center;
}
.carousel-16-9,
.carousel-16-9 > * {
  aspect-ratio: 16/9;
}
.fullwidth .carousel.carousel img {
  // width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 61.25em) { /* 980px */
  .carousel {
    border: 2px solid #ddd;
    border-radius: .5em .5em 0 0;
  }
}