.carousel {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  max-height: 80vh;
}
.carousel > * {
  scroll-snap-align: center;
  min-width: 100%;
}

.carousel-16-9 picture,
.carousel-16-9 img {
  display: block;
  aspect-ratio: 16/9;
}
.fullwidth .carousel.carousel img {
  width: 100%;
  height: auto;
  max-width: none;
}
@media (min-width: 61.25em) { /* 980px */
  .carousel {
    border: 2px solid #ddd;
    border-radius: .5em .5em 0 0;
  }
}