/* Compatibility Tables */
.better,
.worse {
	@include webfontBold;
	white-space: nowrap;
}
.worse {
	color: #CB000F;
}
.better {
	color: #00882D;
}
td.yes { background-color: #00882D; color: #fff; }
td.no { background-color: #CB000F; color: #fff; }
td.emulate { background-color: #40A662; color: #fff; }
