/* Compatibility Tables */
.better,
.worse {
	@include webfontBold;
	white-space: nowrap;
}
.worse {
	color: #CB000F;
}
.better {
	color: #00882D;
}
td.yes,
td.no,
td.emulate {
	color: #fff;
}
td.yes {
	background-color: #00882D;
}
td.no {
	background-color: #CB000F;
}
td.emulate {
	background-color: #40A662;
}

