// Fonts
$monospaceFont: Consolas, monospace;
$fallbackSystemFont: sans-serif;

// Colors
$borderColor: #7f917f;
$primaryColor: #3c603c;
$textColor: #525252;
$backgroundColor: #fff;

// Breakpoints
$oneColLayoutMaxWidth: 59.9375em;
$twoColLayoutMinWidth: 60em;
