// Fonts
$monospaceFont: Consolas, monospace;
$fallbackSystemFont: sans-serif;

// Colors
$blockquoteColor: #888;
$borderColor: #7f917f;
$primaryColor: #3c603c;
$textColor: #525252;
$backgroundColor: #fff;

// Breakpoints
$oneColLayoutMaxWidth: 59.9375em;
$twoColLayoutMinWidth: 60em;

// Mixins
@mixin a11y-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
@mixin undo-a11y-only($position: static) {
	position: $position;
	height: auto;
	width: auto; 
	overflow: visible;
	clip: auto;
}
@mixin webfont {
	& {
		font-family: $fallbackSystemFont;
	}
	.webfont-stage-1 & {
		font-family: LatoSubset, $fallbackSystemFont;
	}
	.webfont-stage-2 & {
		font-family: Lato, $fallbackSystemFont;
	}
}
@mixin webfontBold {
	.webfont-stage-2 & {
		font-family: LatoBold, $fallbackSystemFont;
		font-style: normal;
		font-weight: 700;
	}
}
@mixin webfontItalic {
	.webfont-stage-2 & {
		font-family: LatoItalic, $fallbackSystemFont;
		font-style: italic;
		font-weight: 400;
	}
}
@mixin webfontBoldItalic {
	.webfont-stage-2 & {
		font-family: LatoBoldItalic, $fallbackSystemFont;
		font-style: italic;
		font-weight: 700;
	}
}
@mixin textDecorationSkipInkFallback {
	@supports (background-image: linear-gradient(to bottom, currentColor 75%, currentColor 75%)) and (not(text-decoration-skip: ink)) {
		& {
			text-decoration: none;
			background-image: -webkit-linear-gradient(top, currentColor 75%, currentColor 75%);
			background-image: linear-gradient(to bottom, currentColor 75%, currentColor 75%);
			text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
			background-repeat: repeat-x;
			background-size: 1px 1px;
			background-position: 0 97%;
		}
		&.link-u-exempt,
		&.exempt {
			background-image: none;
			text-shadow: none;
		}
		&.exempt {
			text-decoration: underline;
		}
	}
}