.fontloademu {
	margin-top: 1em;
	font-size: 0.9285714285714em; /* 13px /14 */
}
.fontloademu fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.fontloademu legend {
	float: left;
	padding: 0;
	margin: 0;
}
.fontloademu label {
	display: block;
	white-space: nowrap;
	margin-left: .5em;
}
@media (min-width: 37.5em) {
	.fontloademu label {
		display: inline-block;
	}
}