.iliveinomaha {
	display: block;
	text-align: center;
	font-family: sans-serif;
}

.iliveinomaha a {
	display: block;
	padding: .1em 0;
	text-decoration: none;
	font-weight: bold;
	color: #3399ff;
}

@media only all {
	.iliveinomaha {
		position: absolute;
		top: 0;
		right: 0;
		width: 7em;
		height: 7em;
		font-size: .625em;
		line-height: 120%;
		overflow: hidden;
		pointer-events: none;
	}
	.iliveinomaha a {
		font-weight: normal;
		background: #3399ff;
		width: 10em;
		pointer-events: auto;
		-webkit-transform: translateY(2.3em) translateX(-.8em) rotate(45deg);
		-ms-transform: translateY(2.3em) translateX(-.8em) rotate(45deg);
		transform: translateY(2.3em) translateX(-.8em) rotate(45deg);
	}
	.iliveinomaha a,
	.iliveinomaha :link,
	.iliveinomaha :visited {
		color: #fff;
	}
	.iliveinomaha :hover {
		background: rgba(51, 153, 255, .9);
	}
	.iliveinomaha.left {
		right: auto;
		left: 0;
	}
	.iliveinomaha.left a {
		-webkit-transform: translateY(2.3em) translateX(-2em) rotate(-45deg);
		-ms-transform: translateY(2.3em) translateX(-2em) rotate(-45deg);
		transform: translateY(2.3em) translateX(-2em) rotate(-45deg);
	}
}

@media (min-width: 30em) {
	.iliveinomaha {
		font-size: 1em;
		width: 9em;
		height: 9em;
	}
	.iliveinomaha a {
		width: 15em;
		-webkit-transform: translateY(2.2em) translateX(-1.5em) rotate(45deg);
		-ms-transform: translateY(2.2em) translateX(-1.5em) rotate(45deg);
		transform: translateY(2.2em) translateX(-1.5em) rotate(45deg);
	}
	.iliveinomaha.left a {
		-webkit-transform: translateY(2.2em) translateX(-4.5em) rotate(-45deg);
		-ms-transform: translateY(2.2em) translateX(-4.5em) rotate(-45deg);
		transform: translateY(2.2em) translateX(-4.5em) rotate(-45deg);
	}
}