@mixin a11y-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
@mixin undo-a11y-only($position: static) {
	position: $position;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto;
}
@mixin webfont {
	& {
		font-family: Lato, Numero, $fallbackSystemFont;
		font-weight: 400;
	}
}
@mixin webfontBold {
	& {
		font-family: Lato, Numero, $fallbackSystemFont;
		font-style: normal;
		font-weight: 700;
	}
}
@mixin webfontItalic {
	& {
		font-family: Lato, Numero, $fallbackSystemFont;
		font-style: italic;
		font-weight: 400;
	}
}
@mixin webfontBoldItalic {
	& {
		font-family: Lato, Numero, $fallbackSystemFont;
		font-style: italic;
		font-weight: 700;
	}
}
/* TODO remove .exempt classes from markup */

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin hyphenate {
	& {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}
@mixin unhyphenate {
	& {
		-ms-word-break: normal;
		word-break: normal;
		word-break: normal;

		/* Disable hyphenation */
		-webkit-hyphens: manual;
		-moz-hyphens: manual;
		hyphens: manual;
	}
}

@mixin extraunhyphenate {
	& {
		@include unhyphenate;
		word-wrap: break-word;
	}
}