.primary-title {
	font-size: 2em; /* 38px /19 */
	line-height: 0.85;
	color: #333;
	margin-bottom: .3em;
	letter-spacing: -0.02631578947368em; /* 1px /38 */
}
.primary-title.primary-title {
	font-weight: 900;
	font-family: system-ui, -apple-system, sans-serif;
}
@media (min-width: 31.25em) { /* 500px */
	.primary-title {
		font-size: 8vw;
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.primary-title {
		font-size: 6vw;
		line-height: 0.8;
		letter-spacing: -0.02777777777778em; /* 2px /72 */
	}
	/* override .posts-indent */
	.primary-title.primary-title.primary-title {
		padding: 0;
	}
	html:not(.wider) .primary-title {
		font-size: 7.5vw;
		margin-left: calc((100vw - 100% - 26.5rem) * -.5);
		width: calc(100vw - 26.5rem);
		padding-left: 0;
		padding-right: 0;
	}
	html:not(.wider).tmpl-list .primary-title {
		margin-left: calc((100vw - 100% - 23.8125rem) * -.5);
		width: calc(100vw - 23.8125rem);
	}
	html:not(.wider) .primary-title-exempt,
	html:not(.wider).tmpl-list .primary-title-exempt {
		margin-left: auto;
		width: auto;
	}
}