/* Next and Previous Links */
.pagination {
	display: flex;
	align-items: stretch;
	margin: 2em 0;
	overflow: hidden;
	width: 100%;
}
.previous-post,
.next-post {
	position: relative;
	line-height: 130%;
	padding: 1em .4em;
	font-size: .842105263em; /* 16px */
	text-decoration: none;
}
@media (min-width: 31.25em) {
	.previous-post,
	.next-post {
		width: 50%;
	}
}
.previous-post:hover,
.previous-post:focus,
.next-post:hover,
.next-post:focus {
	background-color: #f6f6f6;
}
.previous-post {
	text-align: left;
	float: left;
	padding-left: 5em; /* 80px /16 */
}
.next-post {
	text-align: right;
	float: right;
	padding-right: 3.375em; /* 54px /16 */
}
.previous-post:before,
.next-post:after {
	color: #aaa;
	position: absolute;
	top: 1.5em; /* 18px /12 */
	text-transform: uppercase;
	font-size: .75em;
}
.previous-post:hover:before,
.previous-post:active:before,
.next-post:hover:after,
.next-post:active:after {
	text-decoration: underline;
}
.previous-post:before {
	content: "« Previous";
	left: .4em;
}
.next-post:after {
	content: "Next »";
	right: .4em;
}
.previous-post:hover:before,
.previous-post:focus:before,
.next-post:hover:after,
.next-post:focus:after {
	color: inherit;
}