/* Next and Previous Links */
.pagination {
	margin: 2em 0;
	overflow: hidden;
}
.has-gradient.tmpl-page .content .pagination a {
	background-image: none;
	text-shadow: none;
}
.previous-post,
.next-post {
	display: block;
	width: 50%;
	position: relative;
	line-height: 130%;
	padding: 1em .4em;
	font-size: .842105263em; /* 16px */
	border: 1px solid transparent;
	text-decoration: none;
}
.previous-post:hover,
.previous-post:focus,
.next-post:hover,
.next-post:focus {
	background-color: #f6f6f6;
	border-color: #ccc;
}
.previous-post {
	text-align: left;
	float: left;
	padding-left: 1.2em;
}
.next-post {
	text-align: right;
	float: right;
	padding-right: 1.2em;
}
.previous-post:before,
.next-post:after {
	color: #aaa;
	position: absolute;
	top: 1em;
}
.previous-post:before {
	content: "« ";
	left: .4em;
}
.next-post:after {
	content: " »";
	right: .4em;
}
.previous-post:hover:before,
.previous-post:focus:before,
.next-post:hover:after,
.next-post:focus:after {
	color: inherit;
}