/* Filter Menu */
.post-filter {
	display: none;
	font-size: .75em; /* 12px */
	margin-top: 2em;
}
.enhanced-js .post-filter {
	display: block;
}
.enhanced-js .posts:not(.enhanced):not(.posts-showall) .deprecated {
	@include a11y-only;
}
.enhanced-js .posts.deprecated .deprecated {
	@include a11y-only;
}