blockquote {
	font-size: 1.086956521739em; /* 25px /23 */
	color: #666;
	margin: 1.5em 0;
	padding: 0 1em;
	max-width: 31.57894736842em;
	border-left: 6px solid #ddd;
}
blockquote a:last-child {
	font-size: 0.8em; /* 20px /25 */
}