@import "config";

/* Social links */
.social {
	font-size: 1.6em;
}
.social > div {
	display: inline;
}
@media (min-width: $twoColLayoutMinWidth) {
	.social {
		text-align: right;
		position: static;
	}
	.social > div {
		padding-top: .5em;
		display: block;
	}
}
.social a {
	text-decoration: none;
	display: inline-block;
	margin-left: .4em;
	text-indent: 9999px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	vertical-align: top;
}
.social a.icon-filamentgroup {
	white-space: nowrap;
}
.social a:first-child {
	margin-left: 0;
}
.social a:link,
.social a:visited {
	color: #ccc;
}
.github:link:hover,
.github:link:focus,
.github:visited:hover,
.github:visited:focus {
	color: #000;
}
.facebook:link:hover,
.facebook:link:focus,
.facebook:visited:hover,
.facebook:visited:focus {
	color: #38539b;
}
.rss:link:hover,
.rss:link:focus,
.rss:visited:hover,
.rss:visited:focus {
	color: #ff9132;
}
.twitter:link:hover,
.twitter:link:focus,
.twitter:visited:hover,
.twitter:visited:focus {
	color: #00c9ff;
}
.googleplus:link:hover,
.googleplus:link:focus,
.googleplus:visited:hover,
.googleplus:visited:focus {
	color: #ec3a1f;
}
.linkedin:link:hover,
.linkedin:link:focus,
.linkedin:visited:hover,
.linkedin:visited:focus {
	color: #1374af;
}

.nebraskajs {
	font-size: .6em;
	text-transform: uppercase;
	text-align: right;
	font-family: Arial;
	font-weight: bold;
	line-height: 80%;
	background-color: #ccc;
	border-radius: .2em;
}
.social .nebraskajs,
.social .nebraskajs:link,
.social .nebraskajs:visited {
	color: #fff;
	padding: .3em .1em 0 0;
	margin-left: .6em;
	text-indent: 0;
}
.nebraskajs:link:hover,
.nebraskajs:link:focus,
.nebraskajs:visited:hover,
.nebraskajs:visited:focus {
	background-color: #f5da1c;
	color: #000;
}