/* Speedlify Lighthouse widget */
.speedlify-lighthouse {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.speedlify-lighthouse .summary {
	margin-right: 1em;
}
.speedlify-lighthouse .score {
	@include webfontBold;
	font-size: 0.8125em; /* 13px /16 */
	width: 2.6em;
	height: 2.6em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid;
	color: #0cce6b;
	margin-left: 0.4615384615385em; /* 6px /13 */
}
.speedlify-lighthouse .score-ok {
	color: #ffa400;
}
.speedlify-lighthouse .score-bad {
	color: #ff4e42;
}