.highlight-line {
  display: block;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

/*
 * Dark theme
 */

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Additions */
.highlight-line {
	padding: 0.125em .75rem; /* 2px 12px /16 */
}
.highlight-line:not(:empty):not(:last-child) {
	border-bottom: 1px dashed #373737;
}
.highlight-line.highlight-line.highlight-line-active,
.highlight-line.highlight-line.highlight-line-add,
.highlight-line.highlight-line.highlight-line-remove {
	border-color: transparent;
}
