@media only all {
	.w3c-b {
		position: relative;
	}
	.w3c-custom,
	.w3c-b:before {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 20em;
		background: #00599b;
		color: #fff;
		text-align: right;
		font: lighter 1.1875em Gill Sans, sans-serif;
		padding: .1em 2em .1em 0;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;

		-webkit-transform: translateY(20em) rotate(270deg);
		-ms-transform: translateY(20em) rotate(270deg);
		transform: translateY(20em) rotate(270deg);
	}
	.w3c-b.wd:before {
		content: "W3C Working Draft";
	}
	.w3c-b.cr:before {
		content: "W3C Candidate Recommendation";
	}
	.w3c-b.pr:before {
		content: "W3C Proposed Recommendation";
	}
	.w3c-b.per:before {
		content: "W3C Proposed Edit Recommendation";
	}
	.w3c-b.r:before {
		content: "W3C Recommendation";
	}
	.w3c-b.ign:before {
		content: "W3C Interest Group Note";
	}
	.w3c-b.wgn:before {
		content: "W3C Working Group Note";
	}
	.w3c-b.cgn:before {
		content: "W3C Coordination Group Note";
	}
	.w3c-b.lcwd:before {
		content: "W3C Last Call Working Draft";
	}
	.w3c-b.n:before {
		content: "W3C Note";
	}
	.w3c-custom.green,
	.w3c-b.ud:before {
		background: #00a400;
	}
	.w3c-b.ud:before {
		content: "Unofficial Draft";
	}
	.w3c-custom.red,
	.w3c-b.ed:before {
		background: #ff0000;
	}
	.w3c-b.ed:before {
		content: "W3C Editor’s Draft";
	}
	.w3c-custom.black,
	.w3c-b.rr:before {
		background: #000;
	}
	.w3c-b.rr:before {
		content: "W3C Rescinded Recommendation";
	}
	.w3c-b[data-w3c-banner-label]:before {
		content: attr(data-w3c-banner-label);
	}
	/* Rainbow gradient */
	.w3c-custom.w3c-custom,
	.w3c-b.w3c-b:before {
		// background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
		// background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
		text-shadow: 0 0 4px rgba(0,0,0,0.6);
		box-shadow: 0 0 2px rgba(0,0,0,0.6);
	}

	.enhanced-js.tmpl-list.w3c-custom:before,
	.enhanced-js.tmpl-list.w3c-b:before,
	.enhanced-js.tmpl-page.wider.w3c-custom:before,
	.enhanced-js.tmpl-page.wider.w3c-b:before {
		display: none;
	}
}