/* Webmention Section */

.webmentions {
    display:block;
    text-align: left;
}
.webmentions__facepile {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.webmentions__face {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    flex: none;
}
.webmentions__list {
    list-style-type: none;
}
.webmentions__list.webmentions__list.webmentions__list {
    padding:0;
}
.webmentions__item {
    margin-bottom: 1em;
}

/* Single Webmention */

.webmention {
    display:block;
}
.webmention__meta,
.webmention__author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.webmention__meta {
    margin-bottom:.5rem;
}
.webmention__author {
    margin-right:.25rem;
}
.webmention__author__photo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right:.5rem;
}
.webmention__pubdate {
    font-family: LatoItalic;
    font-style: italic;
}

/* Webmention form */
.form-webmention {
    margin-bottom: 2rem;
}
.form-webmention label {
    display: block;
}
.form-webmention input {
    height: 2rem;
}
.form-webmention input[type="url"] {
    width: calc(100% - 13em);
    max-width: 30em;
}
.form-webmention [type="submit"] {
    -webkit-appearance: none;
    margin-left: .25em;
    width: 12em;
}