/* Webmention Section */

.webmentions {
    display:block;
    text-align: left;
}
.webmentions__facepile {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.webmentions__face {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    flex: none;
}
.webmentions__list {
    list-style-type: none;
    padding:0;
}
.webmentions__item {
    margin-bottom: 2rem;
}

/* Single Webmention */

.webmention {
    display:block;
}
.webmention__meta,
.webmention__author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.webmention__meta {
    margin-bottom:.5rem;
}
.webmention__author {
    margin-right:.25rem;
}
.webmention__author__photo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right:.5rem;
}
.webmention__pubdate {
    font-style: italic;
}