$monospaceFontStack: Consolas, monospace;
$sansSerifFontStack: Helvetica Neue, Helvetica, sans-serif;
$serifFontStack: Georgia, serif;
$headerFontStack: Bitter, sans-serif;
$blockquoteColor: #888;
$borderColor: #7f917f;
$textColor: #525252;
$backgroundColor: #fff;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.a11y-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

img {
	max-width: 100%;
	border: none;
}

/* Border */
html {
	background-color: $borderColor;
	padding: 1%;
}

/* Layout */
.rail {
	text-align: center;
	padding: 1em;
}
.content {
	text-align: left;
	padding: 1em;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	color: $textColor;
	font-family: $serifFontStack;
	font-size: 1.1875em;
	line-height: 160%;
}
.main {
	max-width: 31em;
	margin: 0 auto;
}

@media (min-width: 64em) {
	.rail {
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
		width: 18em;
		padding: 4em 0 0 3em;
	}
	.content {
		padding: 2em;
		margin-left: 18em;
		position: relative;
		min-height: 52em;
	}
}

/* App specific */
body {
	font-family: $sansSerifFontStack;
	padding: 0;
	margin: 0;
	background-color: $backgroundColor;
	font-size: 100%;
	line-height: 140%;
}
:link {
	color: #67a281;
}
:visited {
	color: #3c624b;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: #d94625;
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
	font-family: $headerFontStack;
	margin-top: 1.4em;
	text-transform: uppercase;
}
h1 {
	color: #222;
	font-size: 2.4em;
	line-height: 110%;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
h1:first-child {
	margin-top: 0;
}
h2 {
	font-size: 1.4em;
}
code {
	font-family: $monospaceFontStack;
	font-size: .875em;
}
pre {
	font-size: .8125em;
	line-height: 160%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
@media (min-width: 64em) {
	pre {
		font-size: 1em;
	}
}
blockquote {
	font-style: italic;
	color: $blockquoteColor;
	margin: 1.2em 10% 1.8em;
}

table {
	border-collapse: collapse;
	font-size: .8125em;
}
tr {
	border-bottom: 1px solid #ddd;
}
td,
th {
	padding: .4em .4em;
}

/* Compatibility Tables */
table.compatibility { font-family: $sansSerifFontStack; }
td.yes { background-color: #00882D; color: #fff; }
td.no { background-color: #CB000F; color: #fff; }
td.emulate { background-color: #40A662; color: #fff; }

@media (min-width: 30em) {
	table {
		font-size: 1em;
	}
}

/* Logo and Rail */
.rail img {
	width: auto;
	max-width: 100%;
	max-height: 13em;
}
.rail a {
	text-decoration: none;
}
.rail h1 {
	color: #aaa;
}
.rail h2 {
	color: #bbb;
}
@media (min-width: 64em) {
	.rail {
		position: fixed;
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
.posts li {
	position: relative;
	border-top: 1px solid #eee;
	counter-increment:start-from -1;
}
.posts li:first-child {
	border-top: none;
}
.posts a {
	display: block;
	padding: 0.5em 2em 0.5em 4em;
	font-size: 1.375em; /* 22px */
	line-height: 110%;
	text-decoration: none;
}
.posts .date,
.posts li:before {
	position: absolute;
	font-family: $monospaceFontStack;
}
.posts li:before {
	right: .3em;
	bottom: 0;
	content: "#" counter(start-from) "";
	color: #ccc;
	font-size: .625em; /* 10px */
}
.posts .date {
	color: #aaa;
	left: .3em;
	font-size: .5909em; /* 13px */
}