@mixin monospaceFont {
	font-family: Consolas, monospace;
}
@mixin sansSerifFont {
	font-familiy: Helvetica Neue, Helvetica, sans-serif;
}
@mixin serifFont {
	font-family: Georgia, serif;
}
@mixin headerFont {
	font-family: Bitter, sans-serif;
}
$blockquoteColor: #888;
$borderColor: #7f917f;
$textColor: #525252;
$backgroundColor: #fff;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.a11y-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

img {
	max-width: 100%;
	border: none;
}

/* Border */
html {
	background-color: $borderColor;
	padding: 1%;
}

/* Layout */
.rail {
	text-align: center;
	padding: 5em 1em 1em;
}
.content {
	text-align: left;
	padding: 1em;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	color: $textColor;
	@include serifFont;
	font-size: 1.1875em;
	line-height: 160%;
}
.maxwidth {
	max-width: 31em;
	margin: 0 auto;
}

@media (min-width: 64em) {
	.rail {
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
		width: 18em;
		padding: 7em 0 0 3em;
	}
	.content {
		padding: 2em;
		margin-left: 18em;
		position: relative;
		min-height: 52em;
	}
}
@media (min-width: 64em) and (min-height: 25em) {
	.rail {
		position: fixed;
	}
}

/* App specific */
body {
	@include sansSerifFont;
	padding: 0;
	margin: 0;
	background-color: $backgroundColor;
	font-size: 100%;
	line-height: 140%;
}
:link {
	color: #67a281;
}
:visited {
	color: #3c624b;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: #d94625;
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
	@include headerFont;
	margin-top: 1.4em;
	text-transform: uppercase;
}
h1 {
	color: #222;
	font-size: 2em;
	line-height: 110%;
}
h1:first-child {
	margin-top: 0;
}
h2 {
	font-size: 1.4em;
}
code {
	@include monospaceFont;
	font-size: .875em;
}
pre {
	font-size: .8125em;
	line-height: 160%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
@media (min-width: 64em) {
	h1 {
		font-size: 2.4em;
	}
	pre {
		font-size: 1em;
	}
}
blockquote {
	font-style: italic;
	color: $blockquoteColor;
	margin: 1.2em 10% 1.8em;
}

table {
	border-collapse: collapse;
	font-size: .8125em;
}
tr {
	border-bottom: 1px solid #ddd;
}
td,
th {
	padding: .4em .4em;
}

/* Compatibility Tables */
table.compatibility { @include sansSerifFont; }
td.yes { background-color: #00882D; color: #fff; }
td.no { background-color: #CB000F; color: #fff; }
td.emulate { background-color: #40A662; color: #fff; }

@media (min-width: 30em) {
	table {
		font-size: 1em;
	}
}

/* Logo and Rail */
.rail a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
}
.rail h1 {
	font-size: 1.4em;
	display: block;
	color: #aaa;
	width: 8em;
	text-align: left;
	overflow: hidden;
	margin: 0;
	vertical-align: middle;
}
.rail img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: .5em;
	border-radius: 50%;
}
.rail em {
	display: block;
	padding-top: 2em;
	color: #bbb;
	@include serifFont;
	font-size: .75em;
	line-height: 110%;
	text-align: center;
}

/* Header Links */
.links {
	@include sansSerifFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
	padding-top: .8em;
}
.links a {
	display: inline-block;
	margin-top: .4em;
	padding: .4em .8em;
}
.links a,
.links :visited {
	color: #aaa;
}
.links a:hover,
.links a:focus {
	color: #000;
}
@media (min-width: 30em) {
	.links {
		font-size: .875em;
	}
}
@media (min-width: 64em) {
	.links {
		padding-top: 3em;
	}
	.links a {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
.posts li {
	position: relative;
	border-top: 1px solid #eee;
	counter-increment:start-from -1;
}
.posts li:first-child {
	border-top: none;
}
.posts a {
	display: block;
	padding: 0.5em 0;
	font-size: 1.375em; /* 22px */
	line-height: 110%;
	text-decoration: none;
}
.posts .date,
.posts li:after {
	@include monospaceFont;
	font-weight: normal;
}
.posts .date {
	color: #aaa;
	font-size: .5909em; /* 13px */
}
em.date {
	display: block;
}
em.date:before {
	content: '—';
}

@media (min-width: 30em) {
	.posts a {
		padding: .5em 2em .5em 4em;
	}
	.posts li:after {
		pointer-events: none;
		position: absolute;
		right: .3em;
		bottom: 0;
		content: "#" counter(start-from) "";
		color: #ccc;
		font-size: .625em; /* 10px */
	}
	.posts .date {
		position: absolute;
	}
	.posts .date {
		left: .3em;
	}
}

/* Next and Previous Links */
.pagination {
	margin: 2em 0;
	overflow: hidden;
}
.previous-post,
.next-post {
	display: block;
	width: 44%;
	position: relative;
	line-height: 130%;
	font-size: .842105263em; /* 16px */
}
.previous-post {
	text-align: left;
	float: left;
	padding-left: 1.2em;
}
.next-post {
	text-align: right;
	float: right;
	padding-right: 1.2em;
}
.previous-post:before,
.next-post:after {
	position: absolute;
	top: 0;
}
.previous-post:before {
	content: "« ";
	left: 0;
}
.next-post:after {
	content: " »";
	right: 0;
}

/* Call to Action */
.action {
	font-size: 1.125em;
	margin-top: 3em;
	line-height: 140%;
	background: #ffc;
	border: 1px solid #ccc;
	padding: .5em;
}
.action a {
	white-space: nowrap;
	text-decoration: none;
}
.action a i {
	vertical-align: middle;
}

.about {
	background: #f6f6f6 0 0 no-repeat;
	border: 1px solid #ccc;
	padding: 1em;
	margin-top: 1em;
	font-size: .875em;
	line-height: 160%;
}
.about:hover {
	background-color: #ddd;
}
.about a {
	display: block;
	text-decoration: none;
}
.about a:hover,
.about a:focus {
	color: #3b624a;
}
.about a span {
	text-decoration: underline;
}
.about p {
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}
.about img {
	float: left;
	width: 80px;
	margin: 0 1em 1em 0;
}

/* Footer */
.footer {
	margin-top: 2em;
	padding: .6em 1em;
	@include serifFont;
	font-style: italic;
	font-size: .75em;
	line-height: 120%;
}