@import "config";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a11y-only {
	@include a11y-only;
}
img {
	max-width: 100%;
	border: none;
}

/* Border */
html {
	background-color: $borderColor;
	padding: 1%;
}

/* Layout */
.rail {
	text-align: center;
	padding: 5em 1em 1em;
}
.content {
	text-align: left;
	padding: 0;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	color: $textColor;
	@include serifFont;
	font-size: 1.1875em;
	line-height: 160%;
}
.maxwidth {
	max-width: 31em;
	padding: 0 .75em; /* 12px */
	margin: 0 auto;
}

@media (min-width: $twoColLayoutMinWidth) {
	.rail {
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
		width: 18em;
		padding: 7em 0 0 3em;
	}
	.content {
		padding: 2em 0;
		margin-left: 17em;
		position: relative;
		min-height: 32em;
	}
}
@media (min-width: $twoColLayoutMinWidth) and (min-height: 25em) {
	.rail {
		position: fixed;
	}
}

/* App specific */
body {
	@include sansSerifFont;
	padding: 0;
	margin: 0;
	background-color: $backgroundColor;
	font-size: 100%;
	line-height: 140%;
}
:link {
	color: #67a281;
}
:visited {
	color: #3c624b;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
	color: #d94625;
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
	@include headerFont;
	margin-top: 1.4em;
	text-transform: uppercase;
}
h1 {
	color: #222;
	font-size: 2em; /* 32px */
	line-height: 110%;
	padding: 0 .15625em; /* 0 5px */
}
h1:first-child {
	margin-top: 0;
}
h2 {
	font-size: 1.375em; /* 22px */
	padding: 0 .227272727em; /* 0 5px */
}
.maxwidth h1,
.maxwidth h2 {
	padding: 0;
}
code {
	@include monospaceFont;
	font-size: .875em;
}
pre {
	font-size: .8125em;
	line-height: 160%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
@media (min-width: $twoColLayoutMinWidth) {
	h1 {
		font-size: 2.375em; /* 38px */
	}
	h1, h2 {
		padding: 0;
	}
	pre {
		font-size: 1em;
	}
}
blockquote {
	font-style: italic;
	color: $blockquoteColor;
	margin: 1.2em 5% 1.8em;
}

table {
	border-collapse: collapse;
	font-size: .8125em;
}
tr {
	border-bottom: 1px solid #ddd;
}
td,
th {
	padding: .4em .4em;
}

/* Compatibility Tables */
table.compatibility { @include sansSerifFont; }
td.yes { background-color: #00882D; color: #fff; }
td.no { background-color: #CB000F; color: #fff; }
td.emulate { background-color: #40A662; color: #fff; }

/* Logo and Rail */
.rail a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
}
.rail h1 {
	font-size: 1.4em;
	display: block;
	color: #aaa;
	width: 8em;
	text-align: left;
	overflow: hidden;
	margin: 0;
	vertical-align: middle;
}
.rail img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: .5em;
	border-radius: 50%;
}
.rail em {
	display: block;
	padding-top: 2em;
	color: #bbb;
	@include serifFont;
	font-size: .75em;
	line-height: 110%;
	text-align: center;
}

/* Header Links */
.links {
	@include sansSerifFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
	padding-top: .8em;
}
.links a {
	display: inline-block;
	margin-top: .4em;
	padding: .4em .8em;
}
.links a,
.links :visited {
	color: #aaa;
}
.links a:hover,
.links a:focus {
	color: #000;
}
.links-sub {
	display: none;
}
@media (min-width: 30em) {
	.links {
		font-size: .875em;
	}
}
@media (min-width: $twoColLayoutMinWidth) {
	.links {
		padding-top: 3em;
	}
	.links a {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: $twoColLayoutMinWidth) and (min-height: 32em) {
	.links-sub {
		display: block;
		padding: 0 0 0 .6em;
		margin: 0;
		list-style: none;
		overflow: hidden;
		font-size: .857142857em; /* 12px */
		letter-spacing: 1px;
	}
	.links-sub > li a {
		margin-top: 0;
	}
}

/* Posts and Content */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* thanks to http://www.sitepoint.com/making-css-count-backwards/ */
.posts li {
	position: relative;
	border-top: 1px solid #eee;
}
.posts-count li {
	counter-increment:start-from -1;
}
.posts li:first-child {
	border-top: none;
}
.posts a {
	display: block;
	padding: 0.5em .363636364em; /* 11px 8px */
	font-size: 1.375em; /* 22px */
	line-height: 110%;
	text-decoration: none;
}
.posts .date,
.posts-count li:after {
	@include monospaceFont;
	font-weight: normal;
}
.posts .date {
	color: #aaa;
	font-size: .5909em; /* 13px */
	vertical-align: middle;
	position: relative;
	top: 3px;
	padding-right: .5em;
}
.posts .highlight {
	background-color: rgba(255, 255, 204, .3);
}
.posts .deprecated,
.posts .deprecated .date,
.posts .deprecated:after,
.posts .deprecated :link,
.posts .deprecated :visited {
	color: #ddd;
}
.sub em {
	margin-right: 1em;
	color: #888;
	display: block;
}
.sub em:before {
	content: '—';
}

@media (min-width: 30em) {
	.sub em {
		display: inline;
	}

	.posts a {
		padding: .5em 2em .5em 4em;
	}
	.posts-count li:after {
		pointer-events: none;
		position: absolute;
		right: .8em; /* 8px */
		bottom: 0;
		content: "#" counter(start-from) "";
		color: #ccc;
		font-size: .625em; /* 10px */
	}
	.posts .date {
		position: absolute;
		left: .615384615em; /* 8px */
		top: auto;
	}
}

/* Next and Previous Links */
.pagination {
	margin: 2em 0;
	overflow: hidden;
}
.previous-post,
.next-post {
	display: block;
	width: 50%;
	position: relative;
	line-height: 130%;
	padding: 1em .4em;
	font-size: .842105263em; /* 16px */
	border: 1px solid transparent;
	text-decoration: none;
}
.previous-post:hover,
.previous-post:focus,
.next-post:hover,
.next-post:focus {
	background-color: #f6f6f6;
	border-color: #ccc;
}
.previous-post {
	text-align: left;
	float: left;
	padding-left: 1.2em;
}
.next-post {
	text-align: right;
	float: right;
	padding-right: 1.2em;
}
.previous-post:before,
.next-post:after {
	color: #aaa;
	position: absolute;
	top: 1em;
}
.previous-post:before {
	content: "« ";
	left: .4em;
}
.next-post:after {
	content: " »";
	right: .4em;
}
.previous-post:hover:before,
.previous-post:focus:before,
.next-post:hover:after,
.next-post:focus:after {
	color: inherit;
}


/* Call to Action and Deprecation Warning */
.action,
.deprecation-warning {
	font-size: 1.125em;
	margin-top: 3em;
	line-height: 140%;
	background: #ffc;
	border: 1px solid #ccc;
	padding: .5em;
}
.action a {
	white-space: nowrap;
	text-decoration: none;
}
.action a i {
	vertical-align: middle;
}
.deprecation-warning {
	margin-top: 1em;
}
.deprecation-warning h3 {
	display: run-in;
	margin-right: .6em;
}
.deprecation-warning h3:after {
	content: ':';
}
.deprecation-warning p {
	font-style: italic;
	margin: 0;
}

/* About Me Link Block */
.about {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	margin-top: 1em;
	font-size: .875em;
	line-height: 160%;
}
.about > a {
	display: block;
	text-decoration: none;
}
.about > a:hover,
.about > a:focus {
	color: #3b624a;
}
.about > a span {
	text-decoration: underline;
}
.about p {
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}
.about img {
	float: left;
	width: 80px;
	margin: 0 1em 1em 0;
}

/* Footer */
.footer {
	margin-top: 2em;
	padding: .666666667em; /* 8px */
	@include serifFont;
	font-style: italic;
	font-size: .75em; /* 12px */
	line-height: 120%;
}
.maxwidth .footer {
	padding-left: 0;
	padding-right: 0;
}

/* Filter Menu */
.post-filter {
	display: none;
	font-size: .75em; /* 12px */
	padding: 0 .666666667em; /* 0 8px */
	margin-top: 2em;
}
.post-filter.with-js {
	display: block;
}
.posts.deprecated .deprecated,
.posts.highlighted li {
	@include a11y-only;
}
.posts.highlighted .highlight {
	background-color: transparent;
	@include undo-a11y-only(relative);
}