/* Social links */
.social {
	position: absolute;
	top: .75em;
	right: .75em;
	font-size: 1.6em;
}
@media (min-width: 64em) {
	.social {
		text-align: center;
		padding-top: 1em;
		position: static;
	}
}
.social a {
	text-decoration: none;
	display: inline-block;
	padding: 0 .25em;
}
.social a:link,
.social a:visited {
	color: #ccc;
}
.nebraskajs {
	font-size: .5em;
	text-transform: uppercase;
	text-align: right;
	width: 28px;
	height: 25px;
	font-family: Arial;
	font-weight: bold;
	line-height: 80%;
	background-color: #ccc;
	border-radius: .2em;
	position: relative;
	top: -2px;
}
.social .nebraskajs,
.social .nebraskajs:link,
.social .nebraskajs:visited {
	color: #fff;
	padding: .4em 0 0 .2em;
	margin-left: .4em;
}
.nebraskajs:link:hover,
.nebraskajs:link:focus,
.nebraskajs:visited:hover,
.nebraskajs:visited:focus {
	background-color: #f5da1c;
	color: #000;
}
.github:link:hover,
.github:link:focus,
.github:visited:hover,
.github:visited:focus {
	color: #000;
}
.facebook:link:hover,
.facebook:link:focus,
.facebook:visited:hover,
.facebook:visited:focus {
	color: #38539b;
}
.rss:link:hover,
.rss:link:focus,
.rss:visited:hover,
.rss:visited:focus {
	color: #ff9132;
}
.twitter:link:hover,
.twitter:link:focus,
.twitter:visited:hover,
.twitter:visited:focus {
	color: #00c9ff;
}
.googleplus:link:hover,
.googleplus:link:focus,
.googleplus:visited:hover,
.googleplus:visited:focus {
	color: #ec3a1f;
}
.linkedin:link:hover,
.linkedin:link:focus,
.linkedin:visited:hover,
.linkedin:visited:focus {
	color: #1374af;
}