html {
    background-color: #666;
}
body {
    background-color: #fff;
    font-family: 'PT Sans', Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4em;
    padding: 0 0 1em;
    margin: 5em 2em;
    border: 1px solid #999;
    border-bottom-width: 2px;
    border-right-width: 2px;

    -webkit-box-shadow: 0 4px 8px 0 #222;
    -moz-box-shadow: 0 4px 8px 0 #222;
    box-shadow: 0 4px 8px 0 #222;
}
h1,
h2 {
    text-transform: uppercase;
    color: #fff;
    line-height: 2em;
    font-family: Optima;
    font-weight: 400;
}
h1 {
    background-color: #000;
    padding: .6em 20px;
    margin-top: 0;
}
h2 {
    background-color: #333;
}
h2,
ul,
p.footer {
    padding: 0 20px;
}
div.contact {
    text-align: center;
}
abbr {
    border-bottom: 1px dotted #666;
}
h1 a {
    display: block;
}
ul ul {
    padding-left: 2em;
}
li {
    list-style: none;
    padding: .4em 0 1em;
}
.description li {
    list-style: disc;
    padding: 0 0 .2em;
}
#tools li,
#honors li,
li li {
    border: none;
    padding: .4em 0;
}
.contact li {
    display: inline;
    white-space: nowrap;
    *white-space: normal; /*IE7, IE6*/
    padding: 0 1em;
}
ul li:first-child {
    padding-top: 0;
}
.experience .url,
.experience .title {
    font-weight: bold;
}
.description {
    font-size: 90%;
}
.experience .org {
    font-style: italic;
}
#tools {
    -webkit-column-width: 14em;
    -moz-column-width: 14em;
    column-width: 14em;
}
#honors {
    -webkit-column-width: 20em;
    -moz-column-width: 20em;
    column-width: 20em;
}
#education,
#experience {
    -webkit-column-width: 26em;
    -moz-column-width: 26em;
    column-width: 26em;
}
#tools,
#education,
#experience,
#honors {
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}
address {
    float: right;
}
p.footer {
    font-size: 80%;
}

@media print, (max-width: 500px) {
    html,
    body {
        border: none;
        padding: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #fff;
    }
}

@media print {
    html,
    body,
    h1,
    h2 {
        background-color: #fff;
        color: #000;
    }
}

a:link {
    color: #2863fb;
}
a:visited {
    color: #f12f36;
}