<footer>
	<div class="footer">
		Consult the <a href="/web/style-guide/">Style Guide</a>. <a href="/web/license/">MIT licensed</a>, source code is available <a href="https://github.com/zachleat/zachleat.com">on GitHub</a>.

		<form id="fontloademu" class="fontloademu" style="display: none">
			Web font loading emulator:
			<label><input type="radio" name="fontloademu" value="font-foit"> Flash of Invisible Text (FOIT)</label>
			<label><input type="radio" name="fontloademu" value="font-fallback"> Flash of Unstyled Text (FOUT)</label>
			<label><input type="radio" name="fontloademu" value="font-latosubset"> First stage, Lato subset embedded</label>
			<label><input type="radio" name="fontloademu" value=""> Second stage, all web fonts finished.</label>
		</form>
	</div>
</footer>