{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
{% if currentyear != year and ignoreYear != "true" %}
	<li class="subhed" id="{{ currentyear }}">{{ currentyear }}</li>
	{% capture year %}{{currentyear}}{% endcapture %} 
{% endif %}
<li class="{% if post.data.tags contains 'note' %}post-note {% endif %}{% if post.data.tags contains 'deprecated' %}deprecated {% endif %}{% if post.data.tags contains 'highlight' %}highlight {% endif %}{% if post.data.tags contains 'smalltitle' %}smalltitle {% endif %}{% if post.data.tags contains 'upcoming' %}upcoming {% endif %}{% if post.data.tags contains 'nejsconf' %}nejsconf {% endif %}"{% if post.data.tags contains 'deprecated' %} title="Deprecated/Outdated Post"{% endif %}>
	{% if post.data.tags contains 'external' %}<span class="external" title="External Link"><span class="icon-link-external"></span></span>{% endif %}
	{% if post.data.tags contains 'upcoming' %}<span class="external" title="External Link">Scheduled</span>{% endif %}
	{% if post.data.tags contains 'external' %}
	<a href="{{ post.data.external_url }}" class="posts-link">
	{% else %}
	<a href="{{ post.url | url }}" class="posts-link">
	{% endif %}
	{% if view == 'project' %}
		{% if post.data.project_name %}{{ post.data.project_name }}{% else %}{{ post.data.title }}{% endif %}</a>
	{% else %}
		{{ post.data.title }}</a>
	{% endif %}
	<span class="tags">
		{%- if post.data.tags contains 'eleventy' %}<a href="/web/eleventy/" class="tag">Eleventy</a>{% endif -%}
		{%- if post.data.tags contains 'font-loading' %}<a href="/web/fonts/" class="tag font-loading">Web Fonts</a>{% endif -%}
		{%- if post.data.tags contains 'project' %}<a href="/web/projects/" class="tag">Project</a>{% endif -%}
		{%- if post.data.tags contains 'research' %}<a href="/web/research/" class="tag">Research</a>{% endif -%}
		{%- if post.data.tags contains 'conference' -%}
			<a class="tag"{% if post.data.tags contains 'speaking' %} href="/web/speaking/"{% endif %}>Conference{% if post.data.tags contains 'speaking' %} Speaking{% elsif post.data.tags contains 'organizing' %} Organizing{% endif %}</a>
			{%- if post.data.event_date %}<span class="tag tag-event">on 📅 {{ post.data.event_date }}</span>{% endif -%}
		{%- elsif post.data.tags contains 'presentations' or post.data.tags contains 'speaking' or post.data.tags contains 'video' or post.data.tags contains 'audio' -%}
			<a href="/web/speaking/" class="tag">Speaking</a>
			{%- if post.data.event_date %}<span class="tag tag-event">on 📅 {{ post.data.event_date }}</span>{% endif -%}
		{%- endif -%}
		{%- if post.data.tags contains 'video' %}<span class="tag video">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Video</span>{% endif -%}
		{%- if post.data.tags contains 'audio' %}<span class="tag audio">{% if post.data.medialength %}<span class="length">{{ post.data.medialength }}</span>{% endif %} Audio</span>{% endif -%}
		{%- if post.data.postRank or post.data.postRankTotalViews %}<a href="/web/best-of/" class="tag postrank" title="Popularity Ranking">{% if post.data.postRankTotalViews and showRankTotalViews == "true" %}☀️ #{{ post.data.postRankTotalViews }}{% elsif post.data.postRank %}🔥 #{{ post.data.postRank }}{% endif %}</a>{% if showDays == "true" %} <span class="tag timeago">posted for {{ post.date | timePosted }}</span>{% endif %}{% endif -%}
		{%- if post.data.tags contains 'highlight' %}<a href="/web/highlights/" class="tag highlight" title="Highlight"><span class="highlight-label">Highlight </span><span class="highlight-star" aria-hidden="true">★</span></a>{% endif -%}
	</span>
	<span class="date">{{ post.date | date: "%h %Y" }}</span>
	{% if view == 'project' %}
		{% if post.headimage %}<img src="{{ post.headimage }}" class="project_img">{% endif %}
		{% if post.headvideo %}<video muted controls preload="metadata" src="{{ post.headvideo }}" class="project_video"></video>{% endif %}
		{% if post.description %}<p class="description">{{ post.description }}</p>{% endif %}
	{% endif %}
</li>