---
title: Intermittently Productive
layout: default
tmpl: list
---


<div class="layout-list">
	<h1 class="primary-title">{{ title }}</h1>
	<ol class="posts">
		<li><a href="https://github.com/zachleat/" class="posts-link">View all project source code on GitHub <span aria-hidden="true">→</span></a></li>
		{% assign year = "" %}
		{% assign currentyear = "" %}
		{% assign listItems = collections.project %}
		{% for post in collections.project reversed %}
			{% include post-list-entry.html, view: "project" %}
		{% endfor %}
		<li class="subhed">Retired</li>
		<li><a href="/web/projects/retired/">Retired Projects</a></li>
	</ol>

</div><!-- /.layout-list -->
