@import "../node_modules/@zachleat/flex-luthor/flex-luthor.css";
@import "../node_modules/@zachleat/flex-luthor/flex-luthor-separators.css";

@import "css/_variables.css";
@import "css/_simple-blockquotes.css";
@import "css/_pagination.css";
@import "css/_action-warnings.css";
@import "css/_thirdparty.css";
@import "css/_prism-base16-monokai.dark.css";
@import "css/_compatibility-tables.css";
@import "css/_styleguide.css";
@import "css/_printed-page.css";
@import "css/_disqus.css";
@import "css/_webmention.css";
@import "css/_opengraph-card.css";

/* originalPostEmbed shortcode */
browser-window {
	--bw-shadow-hsl: 0deg 0% 70%;
	display: block;
	margin: 1em 0;
	font-size: 1rem;
}
browser-window[shadow][mode="dark"] {
	--bw-border: none;
}
browser-window > a {
	display: block;
}
browser-window img {
	display: block;
	width: 100%;
	max-width: none;
}

/* Sticky video for transcripts */
@media (min-width: 61.25em) and (min-height: 50em) { /* 980px, 800px */
	off-viewport.active {
		aspect-ratio: 16/9;
	}
	off-viewport.active browser-window {
		position: fixed;
		right: 1em;
		bottom: 1em;
		min-width: 26vw;
		margin: 0;
	}
}

/* Fundraising Status */
main fundraising-status {
	font-size: 1.5em;
}
fundraising-status img {
	width: 1.2em;
	height: 1.2em;
}

a[href]:has(fundraising-status) {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	margin: 1em 0;
}
a[href]:has(fundraising-status):hover {
	background-color: rgba(0,0,0,.06);
}
@media (prefers-color-scheme: dark) {
	a[href]:has(fundraising-status):hover {
		background-color: rgba(255,255,255,.15);
	}
}