@use "../node_modules/@zachleat/flex-luthor/flex-luthor.css";
@use "../node_modules/@zachleat/flex-luthor/flex-luthor-separators.css";

@use "sass/simple-blockquotes";
@use "sass/pagination";
@use "sass/action-warnings";
@use "sass/thirdparty";
@use "sass/prism-base16-monokai.dark";
@use "sass/compatibility-tables";
@use "sass/styleguide";
@use "sass/printed-page";
@use "sass/disqus";
@use "sass/webmention";
@use "sass/opengraph-card";

.speedlify-link {
	text-decoration: none;
}
/* originalPostEmbed shortcode */
browser-window {
	--bw-shadow-hsl: 0deg 0% 70%;
	display: block;
	margin: 1em 0;
	font-size: 1rem;
}
browser-window[shadow][mode="dark"] {
	--bw-border: none;
}
browser-window > a {
	display: block;
}
browser-window img {
	display: block;
	width: 100%;
	max-width: none;
}

/* Sticky video for transcripts */
@media (min-width: 61.25em) and (min-height: 50em) { /* 980px, 800px */
	off-viewport.active {
		aspect-ratio: 16/9;
	}
	off-viewport.active browser-window {
		position: fixed;
		right: 1em;
		bottom: 1em;
		min-width: 26vw;
		margin: 0;
	}
}

/* Fundraising Status */
main fundraising-status {
	font-size: 1.5em;
}
fundraising-status img {
	width: 1.2em;
	height: 1.2em;
}

a[href]:has(fundraising-status) {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	margin: 1em 0;
}
a[href]:has(fundraising-status):hover {
	background-color: rgba(0,0,0,.06);
}
@media (prefers-color-scheme: dark) {
	a[href]:has(fundraising-status):hover {
		background-color: rgba(255,255,255,.15);
	}
}