/* Direct Links / Markdown Headers */
.direct-link {
	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited,
:focus > a[href].direct-link,
:focus > a[href].direct-link:visited {
	color: #aaa;
}