---
layout: default
---
<div class="maxwidth">
	<article>
	<h1 class="primary-title{% if removeTitle %} sr-only{% endif %}">{{ title | longWordWrap | orphanWrap }}</h1>
	{{ content }}
	</article>
</div><!-- /.maxwidth -->