---
renderData:
  title: '‘{{ noteTag }}’ Notes'
'override:tags': []
layout: layouts/page.liquid
permalink: '/notes/tag/{{ noteTag | slug }}/'
tmpl: page
pagination:
  data: collections.noteTagList
  size: 1
  alias: noteTag
---
<em class="notes-subnote"><a href="/web/notes/">See all tags</a> {% for tag in collections.noteTagList %}🏷 <a href="/web/notes/tag/{{ tag | slug }}/">{% if noteTag == tag %}<strong>{% endif %}{{ tag | lower }}{% if noteTag == tag %} ⬅</strong>{% endif %}</a> {% endfor %}</em>

{%- for post in collections.noteTagCollections[ noteTag ] %}
<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
<div class="notes-content"><a href="{{ post.url | url }}" class="notes-content-link">Read More</a>{{ post.templateContent | safe }}</div>
{%- endfor %}
