<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}—zachleat.com{% else %}zachleat.com{% endif %}</title>
		<link href="/web/atom.xml" rel="alternate" title="Web 367 via zachleat.com" type="application/atom+xml">

		<link href="/web/dist/global.css" rel="stylesheet">
	</head>
	<body>
		<div class="rail">
			<header>
				<a href="{{ site.baseurl }}/">
					<img src="/web/img/avatar-bust.png">
					<h1>Zach Leatherman</h1>
				</a>
			</header>
			<aside>
				<nav role="navigation">
					<div class="navigation">
						<div class="social">
							<a href="//twitter.com/zachleat" class="twitter" title="@zachleat on Twitter"><i class="foundicon-twitter"></i></a>
							<a href="//github.com/zachleat/" class="github" title="@zachleat on GitHub"><i class="foundicon-github"></i></a>
							<a href="/web/feed/" class="rss" title="Zach Leatherman’s RSS Feed"><i class="foundicon-rss"></i></a>
							<a href="http://nebraskajs.com/" class="nebraskajs">NE JS</a>
						</div><!-- /.social -->
						<div class="links">
							<a href="/web/about/">About</a>
							<a href="/web/projects/">Projects</a>
							<a href="/web/speaking/">Speaking</a>
						</div>
					</div>
				</nav>
			</aside>
		</div><!-- /.rail -->
		<div class="content" data-role="main">
			{{ content }}
		</div><!-- /.content -->
		<script src="/web/dist/initial.js"></script>
	</body>
</html>