<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}—zachleat.com{% else %}zachleat.com{% endif %}</title>
		<link href="/web/atom.xml" rel="alternate" title="Web 367 via zachleat.com" type="application/atom+xml">

		<link href="/web/dist/global.css" rel="stylesheet">
	</head>
	<body>
		<div class="rail">
			<header>
				<a href="{{ site.baseurl }}/">
					<img src="/web/img/web367.png" alt="{{ site.name }}">
					<h1 class="a11y-only">{{ site.name }}</h1>
				</a>
			</header>
			<aside>
				<nav role="navigation">
					<div class="navigation">
						<div class="social">
							<a href="//twitter.com/zachleat" class="twitter"><i class="foundicon-twitter"></i> Twitter</a>
							<a href="//github.com/zachleat/" class="github"><i class="foundicon-github"></i> GitHub</a>
							<a href="//plus.google.com/115220697074331366039/posts" class="googleplus"><i class="foundicon-google-plus"></i> Google Plus</a>
						</div>
						<div class="social other"></div>
					</div>
				</nav>
			</aside>
		</div>
		<div class="content">
			<div class="main" data-role="main">
				{{ content }}
			</div><!-- /.main -->
		</div><!-- /.content -->
		<script src="/web/dist/initial.js"></script>
	</body>
</html>