---
layout: default
---
<div class="maxwidth">
	<article>
	<h1>{{ page.title }}</h1>
	<div class="sub">
		<em class="date">{{ page.date | date_to_long_string }}</em><em class="words">Read this in {{ page.content | reading_time }}.</em>
	</div>
	{% if page.tags contains 'deprecated' %}
	<article>
		<div class="deprecation-warning">
			<h3>Warning</h3>
			<p>This article is fairly old and probably contains information that is no longer relevant. Read with care!</p>
		</div>
	</article>
	{% endif %}
	{{ content }}
	</article>
	<article>
		<div class="action">
			Hey! You should follow me on <a href="//twitter.com/zachleat/"><i class="foundicon-twitter"></i> Twitter</a> and <a href="//github.com/zachleat/"><i class="foundicon-github"></i> GitHub</a>. You might even want to <a href="/web/feed/"><i class="foundicon-rss"></i> Subscribe</a>.
		</div>
		<div class="about">
			<img src="/web/img/avatar.png">
			<p><a href="/web/about/">Zach Leatherman</a> is a Professional Front End Engineer. He loves building for the web and has been writing here since 2007.</p>
			<p>He enjoys spending time with his beautiful wife Traci and their two Great Danes, Roxie and Ella. They also have a cat, a rabbit, goldfish, and usually one or more tarantulas. <a href="/web/about/">Read more &raquo;</a></p>
		</div>
	</article>
	<article>
		<div class="pagination">
			{% if page.previous.url %} 
				<a href="{{site.baseurl}}{{page.previous.url}}" class="previous-post">{{page.previous.title}}</a>
			{% endif %}

			{% if page.next.url %} 
				<a href="{{site.baseurl}}{{page.next.url}}" class="next-post">{{page.next.title}}</a>
			{% endif %}
		</div>
	</article>
	<div id="disqus_thread"></div>
	<noscript><strong>Note</strong>: To view and add comments, you’ll need to enable JavaScript. (<a href="http://disqus.com/?ref_noscript">powered by Disqus</a>)</noscript>
	{% include footer.html %}
</div><!-- /.maxwidth -->