---
layout: default
---
<div class="maxwidth">
	<article>
	<h1>{{ page.title }}</h1>
	<div class="sub">
		<em class="date">{{ page.date | date_to_long_string }}</em><em class="words">Read this in {{ page.content | reading_time }}.</em>
	</div>
	{% if page.tags contains 'deprecated' %}
	<article>
		<div class="deprecation-warning">
			<h3>Warning</h3>
			<p>This article is fairly old and probably contains information that is no longer relevant. Read with care!</p>
		</div>
	</article>
	{% endif %}
	{{ content }}
	</article>
	<article>
		<div class="twitter-follow">
			<a href="https://twitter.com/zachleat" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large" data-dnt="true">Follow @zachleat</a>
		</div>
		<div class="action">
			<p>Say hello on <a href="//twitter.com/zachleat/" class="twitter"><i class="icon-twitter"></i> Twitter</a> and <a href="//github.com/zachleat/" class="github"><i class="icon-github"></i> GitHub</a>.</p>
			<p>Let my <a href="/web/feed/" class="feed"><i class="icon-feed"></i> Feed</a>  sit idle in your RSS Reader.</p>
		</div>
		<div class="about">
			<img src="/web/img/avatar.jpg">
			<p><a href="/web/about/">Zach Leatherman</a> is a Professional Front End Engineer. He loves building for the web and has been writing here since 2007.</p>
			<p>He enjoys spending time with his beautiful wife Traci and their two Great Danes, Roxie and Ella. They also have a cat, a rabbit, goldfish, and usually one or more tarantulas. <a href="/web/about/">Read more &raquo;</a></p>
		</div>
	</article>
	<article>
		<div class="pagination">
			{% if page.previous.url %} 
				<a href="{{site.baseurl}}{{page.previous.url}}" class="previous-post">{{page.previous.title}}</a>
			{% endif %}

			{% if page.next.url %} 
				<a href="{{site.baseurl}}{{page.next.url}}" class="next-post">{{page.next.title}}</a>
			{% endif %}
		</div>
	</article>
	<div id="disqus_thread"></div>
	<noscript><strong>Note</strong>: To view and add comments, you’ll need to enable JavaScript. (<a href="http://disqus.com/?ref_noscript">powered by Disqus</a>)</noscript>
	{% include footer.html %}
</div><!-- /.maxwidth -->