---
layout: layouts/base.liquid
headimage: https://www.zachleat.com/og/default.jpeg
stylesheetsDist:
 - opengraph.css
---
<div class="slide slide-preview slide-preview-vertical slide-preview-60-40" tabindex="0" autofocus>
	<div class="frame">
    <div class="window frame-resizer-main">
      <div class="window-hed">
        <div class="window-circle window-circle-red"></div>
        <div class="window-circle window-circle-yellow"></div>
        <div class="window-circle window-circle-green"></div><a href="{{ sourceUrl }}" class="window-title">{{ sourceUrl }}</a>
      </div>
      {{ content }}
    </div>
	</div>
</div>
