---
layout: layouts/default.liquid
tmpl: list
---
<div class="layout-list">
	<article>
		<h1 class="primary-title{% if titleScreenReaderOnly %} sr-only{% endif %}">{{ title }}</h1>
		<heading-anchors selector="h2,h3">
			{{ content }}
		</heading-anchors>
	</article>
</div><!-- /.layout-list -->