<IfModule mod_mime.c>
AddType text/html .html
AddType text/css .css .css.gz
AddType application/javascript .js .jsonp
</IfModule>

AddEncoding gzip .zgz

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /web/

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.zgz -f 
RewriteRule ^(.*)$ $1.zgz [L]
</IfModule>