---
title: An Unhealthy Obsession with Web Fonts & Type
layout: default
tmpl: list
---

<div class="maxwidth-list">
	<article>
		<h1 class="primary-title">{{ title | orphanWrap }}</h1>
		<p>A list of {{ collections.font-loading | size }} posts and projects dealing with web fonts, web font loading, or typography.</p>
		<ol class="posts">
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% for post in collections.font-loading %}
				{% include post-list-entry.html %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.maxwidth-list -->
