---
title: I’m Most Proud of These Things
layout: default
tmpl: list
---

<div class="layout-list">
	<article>
		<h1 class="primary-title">{{ title }}</h1>
		<p><strong><em>April 2020 Update:</em> I don’t manually curate the content on this page any more, so it’s probably outdated.</strong> A list of self-curated posts that I’m most proud of. If you want to see what everyone else liked, check out <a href="/web/best-of/">popular posts</a>.</p>
		<ol class="posts">
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% assign listItems = collections.highlight | reverse %}
			{% for post in collections.highlight %}
				{% include post-list-entry.html %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.layout-list -->
