---
layout: default
tmpl: home
---

<div class="maxwidth-list">
	<div id="about-index" class="about-description posts-paragraph">
		<p>{% include bio-text.html %} <a href="/web/about/">Read more<span class="a11y-only"> about Zach</span> &raquo;</a></p>
	</div>
	<article>
		<ol id="main-posts-list" class="posts posts-count" style="counter-reset: start-from {{ collections.posts | size | plus: 1 }}">
			{% comment %}
				liquidjs doesn’t do hoisting the same, so we have to hoist these loop variables ourselves.
			{% endcomment %}
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% for post in collections.posts %}
				{% include post-list-entry.html %}
			{% endfor %}
		</ol>
		<form class="post-filter" id="post-filter-form">
			<label for="post-filter"><input type="checkbox" id="post-filter"> Show deprecated posts too</label>
		</form>
	</article>
</div><!-- /.maxwidth-list -->