---
title: How Deep Can One Deep Dive Go
layout: default
tmpl: list
---

<div class="layout-list">
	<article>
		<h1 class="primary-title">{{ title }}</h1>
		<p>Read also the list of things that <a href="/web/citations/">cite my work</a>.</p>
		<ol class="posts">
			{% assign year = "" %}
			{% assign currentyear = "" %}
			{% assign listItems = collections.research %}
			{% for post in collections.research reversed %}
				{% include "post-list-entry.html" %}
			{% endfor %}
		</ol>
	</article>
</div><!-- /.layout-list -->
