---
title: I Said or Will Say Words Out Loud
layout: layouts/pagealign.liquid
eleventyImport:
  collections: ["blog-post"]
modules:
  - "/static/filter-container.js"
---
<filter-container oninit delimiter=" ">
<ol class="posts">
	<li style="font-size: clamp(1.5em, 4vw, 3.25em); align-items: center; justify-content: flex-start;">
		<span role="img" aria-label="United States of America" title="United States of America">🇺🇸</span>
		<span role="img" aria-label="Canada" title="Canada">🇨🇦</span>
		<span role="img" aria-label="Spain" title="Spain">🇪🇸</span>
		<span role="img" aria-label="Belarus" title="Belarus">🇧🇾</span>
		<span role="img" aria-label="United Kingdom" title="United Kingdom">🇬🇧</span>
		<span role="img" aria-label="Nigeria" title="Nigeria">🇳🇬</span>
		<span role="img" aria-label="Netherlands" title="Netherlands">🇳🇱</span>
		<span role="img" aria-label="Germany" title="Germany">🇩🇪</span>
		<span role="img" aria-label="Romania" title="Romania">🇷🇴</span>
	</li>
	<li>
		{% assign countryCount = collections.all | getSpeakingUniqueCount: "country" %}
    {% assign conferenceCount = collections.all | getSpeakingCount: "type", "conference" %}
    {% assign meetupCount = collections.all | getSpeakingCount: "type", "meetup" %}
    {% assign barcampCount = collections.all | getSpeakingCount: "type", "barcamp" %}
    {% assign podcastCount = collections.all | getSpeakingCount: "type", "podcast" %}
    {% assign lectureCount = collections.all | getSpeakingCount: "type", "lecture" %}
    {% assign streamCount = collections.all | getSpeakingCount: "type", "livestream" %}
    {{ countryCount | numberString | capitalize }} different countries,
    {{ conferenceCount }} conference{% if conferenceCount != 1 %}s{% endif %},
    {{ meetupCount }} meetup{% if meetupCount != 1 %}s{% endif %},
    {{ streamCount }} livestream{% if streamCount != 1 %}s{% endif %},
    {{ barcampCount }} barcamp{% if barcampCount != 1 %}s{% endif %},
    {{ podcastCount }} podcast{% if podcastCount != 1 %}s{% endif %},
    and {{ lectureCount | numberString }} University guest lecture{% if lectureCount != 1 %}s{% endif %}.
	</li>
	<li><a href="/web/speaking/inquiries/" class="posts-link"><em>Do you want me to speak at your event? Read on→</em></a></li>
	<li>
		<form class="filter-posts-form">
			<label>
				<span class="sr-only">Filter</span>
				<select data-filter-key="category">
					<option value="">Show all</option>
					<option value="speaking-conference">Only Conferences</option>
					<option value="speaking-meetup">Only Meetups</option>
					<option value="speaking-livestream">Only Livestreams</option>
					<option value="speaking-barcamp">Only Barcamps</option>
					<option value="speaking-podcast">Only Podcasts</option>
				</select>
			</label>&#160;
			<span data-filter-results="entry/entries" aria-live="polite">{{ collections.presentations | size }} entries</span>
		</form>
	</li>
	{% assign year = "" %}
	{% assign currentyear = "" %}
	{% assign listItems = collections.presentations %}
	{% for post in collections.presentations %}
		{% include "post-list-entry.html" %}
	{% endfor %}
</ol>
</filter-container>
